{% extends 'panel_base.html' %}
{% load static %}

{% block links %}

{% endblock %}

{% block sheri %}
<style>
    .styled-box {
        padding: 30px 20px !important; overflow: hidden; position: relative; background-color: #fff;  box-shadow: inset #d4d4d4 0px 0px 5px 3px; max-width: 800px; margin: auto !important; border-radius: 20px;
    }

    .styled-box .item {
        margin-top: 30px !important;
        margin-right: 20px !important;
        border: solid 1px rgba(0, 0, 0, 0.288);
        border-radius: 25px;
        padding: 20px !important;
    }

    .styled-box .item .header {
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 10px !important;

    }

    .styled-box .item p {
        background-color: #f1f1f1;
        padding: 10px;
        border-radius: 25px;
    }

    .styled-box .item .header::after {
        content: ':';
    }
</style>

<div class="ui container">
    <h2 class="ui center aligned icon header">
        <i class="circular bi-building-fill icon"></i>
        الشركة
    </h2>

    <div class="ui list styled-box" style="display: grid; justify-content: space-around; grid-template-columns: auto auto;">


        <div class="item">
            <div class="header">اسم المنشئة</div>
            <p>{{company.company_name}}</p>
        </div>

        <div class="item">
            <div class="header">الحي</div>
            <p>{{company.district}}</p>
        </div>

        <div class="item">
            <div class="header">السجل التجاري</div>
            <p>{{job.company_history}}</p>
        </div>
        <div class="item">
            <div class="header">مقر المنشئة</div>
            <p>{{job.get_company_city_display}}</p>
        </div>
        <div class="item">
            <div class="header">حجم المنشئة</div>
            <p>{{job.get_company_size_display}}</p>
        </div>




        <div class="item">
            <div class="header">قطاع المنشئة</div>
            <p>{{job.get_company_section_display}}</p>
        </div>
        <div class="item">
            <div class="header">هل المنشئة حاصلة على شهادة المواءمة</div>
            <p>{{job.get_company_have_cert_display}}</p>
        </div>

    </div>
    <h2 class="ui center aligned icon header">

        بيانات مسؤول التوظيف
    </h2>

    <div class="ui list styled-box" style="display: grid; justify-content: space-around; grid-template-columns: auto auto;">
        <div class="item">
            <div class="header">اسم مقدم الطلب</div>
            <p>{{company.complite_name}}</p>
        </div>

        <div class="item">
            <div class="header">البريد الإلكتروني</div>
            <p>{{job.userprofile.user.email}}</p>
        </div>
        <div class="item">
            <div class="header">رقم الجوال</div>
            <p>{{company.phone}}</p>
        </div>



    </div>

    <h2 class="ui center aligned icon header">

        بيانات الوظيفة
    </h2>

    <div class="ui list styled-box" style="display: grid; justify-content: space-around; grid-template-columns: auto auto;">
        <div class="item">
            <div class="header">نوع الإعاقة غير المرغوب بتوظيفها</div>
            <p>{{job.unwanted_disability}}</p>
        </div>
        <div class="item">
            <div class="header">نوع الإعاقة المرغوب بتوظيفها</div>
            <p>{{job.wanted_disability}}</p>
        </div>
        <div class="item">
            <div class="header">المسمى الوظيفي</div>
            <p>{{job.job_title}}</p>
        </div>

        <div class="item">
            <div class="header">وصف الوظيفي</div>
            <p>{{job.job_desc}}</p>
        </div>

        <div class="item">
            <div class="header">المهارات المطلوبة</div>
            <p>{{job.job_skils}}</p>
        </div>


        <div class="item">
            <div class="header">عدد ساعات العمل</div>
            <p>{{job.work_hours}}</p>
        </div>



        <div class="item">
            <div class="header">عدد أيام الراحة الإسبوعية</div>
            <p>{{job.rest_days}}</p>
        </div>
        <div class="item">
            <div class="header">فئة التأمين الطبي</div>
            <p>{{job.medical_insurance}}</p>
        </div>
        <div class="item">
            <div class="header">عدد الشواغر المتاحة للمسمى الوظيفي</div>
            <p>{{job.available_jobs}}</p>
        </div>
        <div class="item">
            <div class="header">متطلبات الوظيفة الأساسية</div>
            <p>{{job.job_requirements}}</p>
        </div>



        <div class="item">
            <div class="header">مجال العمل</div>
            <p>{{job.work_domain}}</p>
        </div>
        <div class="item">
            <div class="header">المؤهل العلمي للمرشح</div>
            <p>{{job.get_cert_type_display}}</p>
        </div>
        <div class="item">
            <div class="header">التخصص المرشح للوظيفة</div>
            <p>{{job.major}}</p>
        </div>

        <div class="item">
            <div class="header">الراتب الاساسي</div>
            <p>{{job.basic_salary}}</p>
        </div>

        <div class="item">
            <div class="header">بدل السكن</div>
            <p>{{job.housing_allowance}}</p>
        </div>

        <div class="item">
            <div class="header">بدلات أخرى</div>
            <p>{{job.other_allowances}}</p>
        </div>

        <div class="item">
            <div class="header">إجمالي الراتب بعد خصم التأمينات</div>
            <p>{{job.total_salary}}</p>
        </div>

        <div class="item">
            <div class="header">الجنس</div>
            <p>{{job.get_gender_display}}</p>
        </div>


        <div class="item">
            <div class="header">اوقات العمل</div>
            <p>{{job.get_worktime_display}}</p>
        </div>

        <div class="item">
            <div class="header">نوع الوظيفة</div>
            <p>{{job.get_job_type_display}}</p>
        </div>

        <div class="item">
            <div class="header">ما الذي ترغب بإضافته لتسهيل عملنا؟</div>
            <p>{{job.last_txt}}</p>
        </div>


        <div class="item">
            <div class="header">ايقونة الشركة</div>
            {% if job.company_ico.url %}
            <img src="{{job.company_ico.url}}" width="150" alt="ss">
            {% else %}
            <img src="{{job.company_ico.url}}" width="150" alt="لا يوجد">
            {%endif%}
        </div>
    </div>

    <h2 class="ui center aligned icon header">

        كود الإعلان: {{job.id_code}}
    </h2>
    
</div>
<br><br>


<div>

<br>
<div style="text-align: center; display: flex;text-align: center; display: flex; align-items: center; justify-content: center; align-content: center; flex-wrap: nowrap;" dir="ltr">

    <!-- <div class="ui buttons">
        <button class="ui red button">رفض</button>
        <div class="or"></div>
        <button class="ui positive button">قبول</button>
    </div> -->




    <button class="ui primary button" data-bs-toggle="modal" data-bs-target="#exampleModal">
        تطبيق
    </button>
    <form id="state-form" action="" method="post">
        {% csrf_token %}

        <select class="ui dropdown" name="state">
            {% for i in PostStateFields %}
            <option {% if job.post_state == i.0 %} selected {% endif %} value="{{i.0}}">{{i.1}}</option>
            {% endfor %}
        </select>
        
        <!-- Modal -->
        <div dir="rtl" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">هل انت متأكد</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label for="exampleFormControlTextarea1" class="form-label">إرسال رسالة للشركة</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" name="msg" rows="3"></textarea>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إلغاء</button>
                <button type="button" onclick="{document.getElementById('state-form').submit()}" class="btn btn-primary">إرسال</button>
                </div>
            </div>
            </div>
        </div>


    </form>
      <!-- <button class="ui button">
        رفض
      </button> -->
</div>
<br>

</div>










<h2 class="ui center aligned icon header">
    <i class="circular suitcase icon"></i>
    المتقدمين
</h2>


<style>
    td, th {
        text-align: right !important;
    }
    .post_state {
        color: rgb(255, 255, 255); background-color: rgb(85, 83, 83); font-weight: bold; display: inline; padding: 10px 5px; border-radius: 4px;
    }
    </style>
    
    <table class="ui celled table">
        <thead>
            <tr>
                <th>#</th>
                <th>الإسم</th>
                <th>الجنس</th>
                <th>الحالة</th>
                <th>عرض</th>
                <th>حذف</th>
            </tr>
        </thead>
        <tbody>
            {% for job in presenters %}
                <tr>
                    <td data-label="Name">{{forloop.counter}}</td>
                    <td data-label="Name">{{job.employee.userprofile.employeeprofile.name}}</td>
                    <td data-label="Job">{{job.employee.userprofile.employeeprofile.get_gender_display}}</td>
                    <td data-label="Job" ><div class="post_state">{{job.get_post_state_display}}</div></td>
                    <td data-label="Job" ><a href="{% url 'ShowJobRequests' job.id %}" class="ui inverted blue button" >عرض</a></td>
                    <td data-label="Job" ><button href="{% url 'DeleteJobRequests' job.id %}" class="ui  red button" >حذف</button></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>



<br>

</div>


<br>
<hr>
<br>

{% endblock %}