{% extends "base.html" %}
{% load static %}
{% load custom_tags %}

{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">

{% endblock links %}

{% block sheri %}
<style>
    h2 {
        font-size: calc(1rem + .9vw);
    }
</style>

<header style="height: auto;">

	<div class="overlay" style="display: flex; align-items: center; justify-content: center;margin-top: 50px;">
        
        
        <div>

            {% get_random_ad_main request.session.ip_info as ad %}
            {% if ad %}
            <a href="{{ad.redirect_url}}" target="_blank" class="ad-main-box mt-3">
                <img class="mb-3 p-2" style="width: 100%;" src="{{ad.img.url}}" alt="">
            </a>
            {% endif %}
            
            <h1 >البحث عن أصحاب المهارات</h1>
            <div style="margin-top: 10px;" dir="rtl">
                <p class="arial title_desc">اربط شركتك بأفضل المواهب وتواصل مع نخبة الخبراء والمواهب لتحقيق النجاح.</p>
                <br><br>
            </div>

            
<form action="{% url 'AdvancedSearch' %}" style="padding: 20px;" method="get">

    <div class="input-group mb-3">

        
            <button style="padding: 15px 25px;font-size: 20px;border-radius: 0;" type="submit" class="input-group-text btn btn-primary rounded-end" >
                <i class="bi bi-search-heart"></i>
            </button>

            <div class=" input-group-text mb-2 hideed last rounded">
                <input type="text" id="amount" readonly="" style="border:0; color:#3e3e3e; font-weight:bold;">
                <input type="hidden" id="age_from" name="age_from">
                <input type="hidden" id="age_to" name="age_to">
               
              <div id="slider-range"></div>
            </div>

               

            <select name="gender" id="" class="input-group-text mb-2 hideed last">
                <option value="">الجنس</option>
                {% for countr in GenderFields %}
                <option {%if countr.id|stringformat:"i" == country %} selected {% endif %} value="{{countr.0}}">{{countr.1}}</option>
                {% endfor %}
            </select>

            <select name="nationality" id="" class="input-group-text hideed no-border">
                <option value="">الجنسية</option>
                {% for countr in nationalitys %}
                <option {%if countr.id|stringformat:"i" == country %} selected {% endif %} value="{{countr.id}}">{{countr.name}}</option>
                {% endfor %}
            </select>

            <select name="country" id="" class="input-group-text no-border" style="border-radius: 0px !important;">
                <option value="">الدولة</option>
                {% for countr in countrys %}
                <option {%if countr.id|stringformat:"i" == country %} selected {% endif %} value="{{countr.id}}">{{countr.get_name_display}}</option>
                {% endfor %}
            </select>


        <input type="text" dir="rtl" name="desires" style="border-radius: 0;" class="form-control rounded-start" placeholder="الرغبات او المسمى الوظيفي او المهارات" aria-label="Username" aria-describedby="basic-addon1">
      </div>
      <a href="{% url 'AdvancedSearch' %}" style="padding: 15px 25px;font-size: 20px;border-radius: 0;" type="submit" class="input-group-text btn btn-primary rounded" >
        البحث المتقدم
        <i class="bi bi-badge-ad-fill"></i>

      </a>

      <script>
        $( function() {
          $( "#slider-range" ).slider({
            range: true,
            min: 13,
            max: 99,
            values: [ 18, 99 ],
            slide: function( event, ui ) {
              $( "#amount" ).val('العمر: '+ ui.values[ 1 ] + " - " + ui.values[ 0 ] );
              $( "#age_from" ).val(ui.values[ 0 ])
              $( "#age_to" ).val(ui.values[ 1 ])
            }
          });
          $( "#amount" ).val('العمر: '+  $( "#slider-range" ).slider( "values", 1 ) +
            " - " + $( "#slider-range" ).slider( "values", 0 ) );
          $( "#age_from" ).val($( "#slider-range" ).slider( "values", 0 ))
          $( "#age_to" ).val($( "#slider-range" ).slider( "values", 1 ))

        } );
        </script>


</form>
        </div>
	</div>
</header>

<div class="container" style="margin-top: 40px;">
    {% get_random_ad_others request.session.ip_info as ad %}
    {% if ad %}
    <a href="{{ad.redirect_url}}" target="_blank" class="ad-main-box mb-3 mt-3">
        <img style="width: 100%;" src="{{ad.img.url}}" alt="">
    </a>
    {% endif %}

</div>
<div style="display: flex; justify-content: center;">
    <h2 style="text-align: center;margin-bottom: 0;" class="mt-5 bg-primary text-white p-3 rounded">
        اعضاء التميز
    </h2>
</div>

    <style>
        .scrollable-cvs {
            overflow-x: scroll; display: flex;
            -webkit-overflow-scrolling: touch;


        }

        .scrollable-cvs .carousel-inner {
            display:table
        }

        .scrollable-cvs img {
            width: 90px !important;
            height: 90px !important;
        }
        
        .scrollable-cvs::-webkit-scrollbar{display: none;}

        .link-active a{
            pointer-events: none;
            cursor: move;

        }

        .link-active {
            cursor: move;
        }


    </style>
    <div class="scrollable-cvs p-2 mt-3" style="background-color: #f1f1f1;box-shadow: inset #cecece 0px 0px 6px;">

        {% for userprofile in distinctive_users %}
        {% get_cv_imgs userprofile.id as profile_images %}


        <div class="carousel-inner carousel ms-1">
            <a href="{% url 'Profile' userprofile.user.id %}" class="carousel-item active">
                {% if profile_images.0 and userprofile.subscription.subscription.show_userprofile_img %}
                <img src="{{profile_images.0.img_base64}}" class="d-block w-100 {% if profile_images and userprofile.subscription.subscription.distinctive_frame %} border-prim {% endif %}" alt="...">
                {% else %}

                {% if userprofile.employeeprofile.gender == '1' %}
                <img src="{% static 'img/smiling-people-avatars-male.png' %}" class="d-block w-100 {% if userprofile.subscription.subscription.distinctive_frame %} border-prim {% endif %}" alt="...">
                {% else %}
                <img src="{% static 'img/smiling-people-avatars-female.png' %}" class="d-block w-100 {% if userprofile.subscription.subscription.distinctive_frame %} border-prim {% endif %}" alt="...">
                {% endif %}

                {% endif %}
            </a>
        </div>
        {% empty %}
        <p class="text-center fw-bold">لا يوجد اعضاء مميزين حالياََ</p>
        <script>
            document.querySelector('.scrollable-cvs').style.display = 'block'
        </script>
        {% endfor %}
    </div>

    <script>
let slider = document.querySelector('.scrollable-cvs')

  let isDown = false;
  let startX;
  let scrollLeft;

  slider.addEventListener('dragstart', (e) => {
    e.preventDefault();
    e.stopPropagation();

    isDown = true;
    slider.classList.add('link-active');
    startX = e.pageX - slider.offsetLeft;
    scrollLeft = slider.scrollLeft;
    cancelMomentumTracking();
  });
  
  
  slider.addEventListener('mouseleave', () => {
    isDown = false;
    slider.classList.remove('link-active');
  });
  
  
  slider.addEventListener('mouseup', () => {
    isDown = false;
    slider.classList.remove('link-active');
    beginMomentumTracking();
  });
  
  
  slider.addEventListener('mousemove', (e) => {
    if(!isDown) return;
    e.preventDefault();
    e.stopPropagation();
    const x = e.pageX - slider.offsetLeft;
    const walk = (x - startX) * 1; //scroll-fast
    var prevScrollLeft = slider.scrollLeft;
    slider.scrollLeft = scrollLeft - walk;
    velX = slider.scrollLeft - prevScrollLeft;
  });
  
  // Momentum 
  
  var velX = 0;
  var momentumID;
  
  slider.addEventListener('wheel', (e) => {
    cancelMomentumTracking();
  });  
  
  function beginMomentumTracking(){
    cancelMomentumTracking();
    momentumID = requestAnimationFrame(momentumLoop);
  }
  function cancelMomentumTracking(){
    cancelAnimationFrame(momentumID);
  }
  function momentumLoop(){
    slider.scrollLeft += velX;
    velX *= 0.95; 
    if (Math.abs(velX) > 0.5){
      momentumID = requestAnimationFrame(momentumLoop);
    }
  }



    </script>
    
    <div class="d-flex justify-content-center ">
    <h2 style="text-align: center;" class="mt-5 mb-3 bg-primary text-white p-3 rounded">
        الباحثين عن العمل
    </h2>
    </div>

<div class="container">
    
    <div class="cv-flex-main">

        {% for userprofile in userprofiles|slice:6 %}
        <div class="cv-main-box mb-5">


            <div class="cv-box">
                <div dir="rtl" class="p-2 cv-content">

                    {% get_cv_imgs userprofile.id as profile_images %}
                    <div style="display: flex;align-items: flex-start;">
                        <div style=" display: flex; flex-direction: column;align-items: center;">

                    
                        <div id="carouselExampleIndicators{{forloop.counter|add:-1}}" class="carousel slide carousel-dark" style="width: 115px;">

                        
                        <div class="carousel-indicators" style="margin-bottom: 0;transform: scale(.6);">
                            {% for profile_image in profile_images %}
                            <button type="button" data-bs-target="#carouselExampleIndicators{{forloop.counter|add:-1}}" data-bs-slide-to="{{forloop.counter|add:-1}}" {%if forloop.counter == 1 %} class="active" aria-current="true" {%endif%} aria-label="Slide {{forloop.counter}}"></button>
                
                            {% endfor %}    
                    
                    </div>
                        <div class="carousel-inner">

                            {% if profile_images and userprofile.subscription.subscription.show_userprofile_img %}
                            {% for profile_image in profile_images %}
                            <div class="carousel-item {%if forloop.counter == 1 %} active{%endif%}">
                                <img src="{{profile_image.img_base64}}" class="d-block w-100 {% if profile_images and userprofile.subscription.subscription.distinctive_frame %} border-prim {% endif %}" alt="...">
                            </div>
                            {% endfor %}
                            {% else %}
                            <div class="carousel-item active">
                                {% if userprofile.employeeprofile.gender == '1' %}
                                <img src="{% static 'img/smiling-people-avatars-male.png' %}" class="d-block w-100 {% if  userprofile.subscription.subscription.distinctive_frame %} border-prim {% endif %}" alt="...">
                                {% else %}
                                <img src="{% static 'img/smiling-people-avatars-female.png' %}" class="d-block w-100 {% if  userprofile.subscription.subscription.distinctive_frame %} border-prim {% endif %}" alt="...">
                                {% endif %}
                            </div>
                            {% endif %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators{{forloop.counter|add:-1}}" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators{{forloop.counter|add:-1}}" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                        </button>
                        
                    </div>
                    {% if userprofile.subscription.subscription.distinctive_mark %}
                    <div class="form-text mb-1 text-center fw-bold text-warning">عضو مميز</div>
                    {% endif %}
                    <a href="{% url 'Profile' userprofile.user.id %}" class="btn btn-primary mt-1" style="font-size: 12px; font-weight: bold; padding: 5px;">سيرتي</a>

                    </div>

                    <div style="width: 100%; margin-right: 6px;">
                        <a href="{% url 'Profile' userprofile.user.id %}" style="text-decoration: none;">
                        <h6 class="text-primary" style="text-align: justify;">
                            <i class="bi bi-briefcase"></i>
                            {{userprofile.employeeprofile.job_title}}
    
                        </h6>
                    </a>







                        <!-- <p class="text-primary" style="font-size: 14px; margin: 0;">
                            <i class="bi bi-info-circle-fill "></i>
                            معلومات</p> -->
    
    
                        <div class="contents-box" style="position: relative; overflow: hidden;font-size:.9em ;">
    
                            <p >
                                <span class="answer" ><i class="bi bi-globe"></i>{{userprofile.employeeprofile.nationality.name}}</span>
                            </p >
                            
                            <p >
                                <span class="answer" ><i class="bi bi-patch-check-fill"></i>{{userprofile.employeeprofile.get_cert_type_display}}</span>
                            </p >
    
    
                            <p >
                                <span class="answer" ><i class="bi bi-link"></i>{{userprofile.employeeprofile.get_marital_status_display}}</span>
                                
                            </p >
    
    
                            <p >
    
                                <span class="answer" ><i class="bi bi-bandaid-fill"></i>{{userprofile.employeeprofile.health_status.name}}</span>
                            </p >
    
    
                        </div>

                        
                        
                    </div>

                    
                </div>

                <div style="position: relative;" class="mt-2">
                    <div style="width: 0%; background-color: black; height: 1px; position: absolute; left: 0; top: 19px;" ></div>

                    <div class="contents-box" style="grid-template-columns: auto auto auto;">


                        <p >
                        
                            <span class="answer" ><i class="bi bi-gender-ambiguous"></i>{{userprofile.employeeprofile.get_gender_display}}</span>
                        </p >

                        <p >
                            <span class="answer" ><i class="bi bi-person-arms-up"></i>{{userprofile.employeeprofile.age}} سنة</span>
                            
                        </p >

                        <p >
                            <span class="answer" ><i class="bi bi-braces"></i>{{userprofile.employeeprofile.major}}</span>
                            
                        </p >
                    </div>
                </div>

                <p class="text-primary" style="margin: 0; margin-top: 6px;">
                    <i class="bi bi-stars"></i>
                    نبذة مختصرة</p>
                <div  style="background-color: #ffffff82; padding: 0px 10px; border-radius: 10px;box-shadow:inset #cecece 0px 0px 6px;">


                    <div class="custom-text-truncate" style="width: 100%; padding: 3px;">
                        {{userprofile.employeeprofile.about_me}}
                    </div>
                </div>

                <div class="mt-1" style="display: flex; justify-content: space-between;flex-direction: column; font-weight: bold;">

                    <p style="font-size: 14px; text-align: center; margin: 0;" class="mb-2 btn-primary btn p-1 shadow-sm rounded-3">
                        <i class="bi bi-geo-alt "></i>يقيم في
                        {{userprofile.employeeprofile.country.get_name_display}}/{{userprofile.employeeprofile.employee_city}}
                    </p>

                    <div style="display: flex; justify-content: space-around; flex-wrap: wrap;font-size: .8em;">

                        
                        <div style="display: flex;justify-content: space-around;">
                            {% if userprofile.subscription.subscription.show_number_of_appearances %}
                            <p style="margin: 0; margin-left: 20px;">
                                <i class="bi bi-eye " ></i>
                                {% get_user_views userprofile.user.id as views_count %}
                                {{views_count}}
                            </p>
                            {% endif %}
                            {% if userprofile.subscription.subscription.show_number_of_likes %}
                            <p style="margin: 0;">
                                <i class="bi bi-hand-thumbs-up "></i>
                                {% get_user_likes userprofile.user.id as likes_count %}
                                {{likes_count}}
                            </p>
                            {% endif %}
                        </div>
                    </div>
                    
                </div>
                    




                    <div id="more-info-{{forloop.counter|add:-1}}" class="hide" >


                            <nav dir="rtl" class="mt-5">
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <button class="nav-link active" id="nav-home-tab{{forloop.counter|add:-1}}" data-bs-toggle="tab" data-bs-target="#nav-home{{forloop.counter|add:-1}}" type="button" role="tab" aria-controls="nav-home{{forloop.counter|add:-1}}" aria-selected="true">نبذة عني</button>
                                 <button class="nav-link" id="nav-profile-tab{{forloop.counter|add:-1}}" data-bs-toggle="tab" data-bs-target="#nav-profile{{forloop.counter|add:-1}}" type="button" role="tab" aria-controls="nav-profile{{forloop.counter|add:-1}}" aria-selected="false">الرغبات</button> 
                                 <button class="nav-link" id="nav-disabled-tab{{forloop.counter|add:-1}}" data-bs-toggle="tab" data-bs-target="#nav-disabled{{forloop.counter|add:-1}}" type="button" role="tab" aria-controls="nav-disabled{{forloop.counter|add:-1}}" aria-selected="false">الخبرات</button>
                                 <button class="nav-link" id="nav-contact-tab{{forloop.counter|add:-1}}" data-bs-toggle="tab" data-bs-target="#nav-contact{{forloop.counter|add:-1}}" type="button" role="tab" aria-controls="nav-contact{{forloop.counter|add:-1}}" aria-selected="false">التواصل</button>
                                </div>
                            </nav>
                        <div class="tab-content p-3" id="nav-tabContent" >
                            <div class="tab-pane fade show " id="nav-disabled{{forloop.counter|add:-1}}" role="tabpanel" aria-labelledby="nav-disabled-tab{{forloop.counter|add:-1}}" tabindex="0">
                                <h6 class="pt-2 ">
                                    <i class="bi bi-stars "></i>
                                    الخبرات</h6>
            
                                    <div class="contents-box" style="grid-template-columns: auto auto auto; background-color: #f1f1f1;">
                                        {% for experience in userprofile.employeeprofile.experiences.desires %}
                                        <p >
                                            <span class="answer" ><i class="bi bi-explicit"></i>{{experience}}</span>
                                        </p >
                
                                        {% endfor %}
                                    </div>

                            </div>
                            <div class="tab-pane fade show " id="nav-profile{{forloop.counter|add:-1}}" role="tabpanel" aria-labelledby="nav-profile-tab{{forloop.counter|add:-1}}" tabindex="0">
                                <h6 class="pt-2 ">
                                    <i class="bi bi-stars "></i>
                                    الرغبات</h6>
            
                                    <div class="contents-box" style="grid-template-columns: auto auto auto; background-color: #f1f1f1;">
                                        {% for experience in userprofile.employeeprofile.desires.desires %}
                                        <p >
                                            <span class="answer" ><i class="bi bi-explicit"></i>{{experience}}</span>
                                        </p >
                
                                        {% endfor %}
                                    </div>
                            </div>

                            <div class="tab-pane fade show active" id="nav-home{{forloop.counter|add:-1}}" role="tabpanel" aria-labelledby="nav-home-tab{{forloop.counter|add:-1}}" tabindex="0">
                                <h6 class="pt-2 ">
                                    <i class="bi bi-stars "></i>
                                    نبذة عن العضو</h6>
                                    <p class="contact-info">
                                        {{userprofile.employeeprofile.about_me}}
                                    </p>
        
        
        

                            
                            </div>
                            
                            
                            <div class="tab-pane fade" id="nav-contact{{forloop.counter|add:-1}}" role="tabpanel" aria-labelledby="nav-contact-tab{{forloop.counter|add:-1}}" tabindex="0" style="max-width:700px;">
                                {% if request.user.is_authenticated %}
                                {% if request.user.userprofile.is_has_subscription %}
                                {% if userprofile.show_email%}
                                <div class="input-group mb-3">
                                    <a href="mailto:{{userprofile.user.email}}" class="input-group-text" id="basic-addon1"><i class="bi bi-envelope-fill"></i></a>
                                    <input value="{{userprofile.user.email}}" disabled type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                                  </div>
                                {% endif %}
                          
                                  {% if userprofile.subscription.subscription.show_phone %}
                                  {% if userprofile.show_phone and userprofile.employeeprofile.phone %}
                                  <div class="input-group mb-3">
                                    <a class="input-group-text" href="tel:{{userprofile.employeeprofile.phone}}"  id="basic-addon1"><i class="bi bi-telephone-fill"></i></a>
                                    <input value="{{userprofile.employeeprofile.phone}}" disabled name="phone" type="text" class="form-control" placeholder="الهاتف" aria-label="Username"
                                      aria-describedby="basic-addon1">
                                  </div>
                                    {% endif %}
                                    {% endif %}




                                    <div style="border-radius: 15px; border: 1px solid rgb(229, 229, 229);">
                                        <p style="margin: 0;text-align: center;background-color: #f1f1f1; padding: 20px">وسائل التواصل الاجتماعي</p>
                                        <div class="contact-info-soshial">
                                            {% if userprofile.subscription.subscription.show_instgram %}
                                            {% if userprofile.show_instgram and userprofile.employeeprofile.instgram%}
                                            <a href="{{userprofile.employeeprofile.instgram}}" target="_blank"><i class="bi bi-instagram"></i></a>
                                            {% endif %}
                                            {% endif %}

                                            {% if userprofile.subscription.subscription.show_snap %}
                                            {% if userprofile.show_snapshat and userprofile.employeeprofile.snapshat%}
                                            <a href="{{userprofile.employeeprofile.snapshat}}" target="_blank"><i class="bi bi-snapchat"></i></a>
                                            {% endif %}
                                            {% endif %}

                                            {% if userprofile.subscription.subscription.show_tiktok %}
                                            {% if userprofile.show_tiktok and userprofile.employeeprofile.tiktok%}
                                            <a href="{{userprofile.employeeprofile.tiktok}}" target="_blank"><i class="bi bi-tiktok"></i></a>
                                            {% endif %}
                                            {% endif %}

                                            {% if userprofile.subscription.subscription.show_facebook %}
                                            {% if userprofile.show_facebook and userprofile.employeeprofile.facebook%}
                                            <a href="{{userprofile.employeeprofile.facebook}}" target="_blank"><i class="bi bi-facebook"></i></a>
                                            {% endif %}
                                            {% endif %}

                                            {% if userprofile.subscription.subscription.show_linkedin %}
                                            {% if userprofile.show_linkedin and userprofile.employeeprofile.linkedin %}
                                            <a href="{{userprofile.employeeprofile.linkedin}}" target="_blank"><i class="bi bi-linkedin"></i></a>
                                            {% endif %}
                                            {% endif %}

                                            {% if userprofile.subscription.subscription.show_whats %}
                                            {% if userprofile.show_whatsapp and userprofile.employeeprofile.whatsapp %}
                                            <a href="{{userprofile.employeeprofile.whatsapp}}" target="_blank"><i class="bi bi-whatsapp"></i></a>
                                            {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% if request.user.id != userprofile.user.id %}
                                        {% if userprofile.dont_receive_msg_from_companys and request.user.userprofile.is_company %}
                                        {% elif userprofile.dont_receive_msg_from_employees and request.user.userprofile.is_employee %}
                                        {% else %}
                                            <a href="{% url 'createMessager' userprofile.user.id %}" class="btn btn-primary mt-3" style="margin: auto; display: block;">تواصل داخلي</a>

                                        {% endif %}
                                    
                                    {% endif %}
                                    {% else %}
                                    <p>يرجى الاشتراك باحد الباقات لمشاهدة معلومات التواصل <a href="{% url 'Subscriptions' %}">اضغط هنا لاظهار الباقات</a></p>
                                    {% endif %}
                                    {% else %}
                                    <p>يرجى انشاء حساب لتتمكن من رؤية معلومات التواصل للتسجيل <a href="{% url 'Login' %}?is_signup=true">اضغط هنا</a> او التسجيل الدخول <a href="{% url 'Login' %}">من هنا</a></p>
                                    {% endif %}
                            </div>


                        </div>
                    </div>
                    <button class="btn btn-primary more-info" style="width: 105px;" onclick="showHideMoreDetailes('{{forloop.counter|add:-1}}', this)">
                        تفاصيل اكثر
                    </button>

                    <div class="mb-4"></div>
                </div>

                
                
            
            </div>
        </div>



    {% if forloop.counter|divisibleby:4 %}
        {% get_random_ad_cv request.session.ip_info as ad %}
        {% if ad %}
        <a href="{{ad.redirect_url}}" target="_blank" class="ad-main-box  mt-5">
            <img style="width: 100%;" src="{{ad.img.url}}" alt="">
        </a>
        {% endif %}
    {% endif %}


        {%endfor%}
    </div>


    <div style="display: flex; justify-content: center;">
        <h2 style="text-align: center; display: inline-block;" class="mt-5 bg-warning text-dark p-3 rounded mb-3">
            نموذج التواصل
        </h2>
    </div>


	{% comment %} <h1 style="margin-top: 100px; font-size: 25px; text-align: center;">نموذج التواصل</h1> {% endcomment %}
	<div id="contact-us" dir="rtl" style="background-color: #fff;  box-shadow: inset #d4d4d4 0px 0px 5px 3px; padding: 15px; max-width: 950px; margin: auto; border-radius: 20px;">
		<form  action="{% url 'ContactUs' %}" method="post" class="contact-form">
		{% csrf_token %}
		<div class="mb-3">
			<label for="exampleFormControlInput1" class="form-label">الإسم</label>
			<input style="text-align:right;" required name="name" type="text" class="form-control" id="exampleFormControlInput1" placeholder="مثال: محمد عدنان">
		  </div>
		  <div class="mb-3">
			<label for="exampleFormControlInput1" class="form-label">بريد الالكتروني</label>
			<input style="text-align:right;" required name="email" type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
		  </div>
		  <div class="mb-3">
			<label for="exampleFormControlTextarea1" class="form-label">رسالة</label>
			<textarea class="form-control" required name="msg" id="exampleFormControlTextarea1" rows="3"></textarea>
		  </div>

		  <div class="col-auto">
			<button type="submit" class="btn btn-primary mb-3 qa-btn-blu-color">إرسال</button>
		  </div>
		</form>
	</div>




</div>


<script>
    function showHideMoreDetailes(id, button) {
        let obj = document.getElementById('more-info-'+id)
        if (obj.classList.contains('showDetailes')) {
            obj.classList.remove('showDetailes')
            button.innerText = 'تفاصيل اكثر'
        } else {
            obj.classList.add('showDetailes')
            button.innerText = 'تفاصيل اقل'
        }
    }
</script>


<br><br><br><br><br><br>


{% endblock sheri %}
