{% extends 'base.html' %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'css\employee\employeePortal.css' %}">
{% endblock %}

{% block sheri %}



<style>
    .container p {
        text-align: center;
    }

    .container h5 {
        margin-top: 25px;
        text-align: center;
    }
</style>

<div class="container">


    <div style="margin: 10px; margin-top: 150px;">


    </div>

    <div
        style=" background-color: #fff;  box-shadow: inset #d4d4d4 0px 0px 5px 3px; padding: 35px 20px; max-width: 1000px; margin: auto; border-radius: 20px;">


        <h2 style="text-align: center; color: #65007ec4;">سياسة الخصوصية</h2>

        <br>
        {{data.PrivacyPolicy|safe}}

        {% comment %} <p>
            مبادئنا تلزم علينا حماية حقوق جميع زوار بوابة شبكة "ceveve" للتوظيف. إننا نلتزم بالحفاظ على سرية المعلومات الحساسة، وقد أعد هذه الإتفاقية الخاصة بالأمن والخصوصية للإفصاح عن النهج الذي نتبعه في جمع المعلومات ونشرها على موقعنا.
        </p>

        <h5>
            جمع وإستخدام المعلومات
        </h5>
        <p>
            تعمل مخدمات البوابة، على التقاط عنوان بروتوكول الإنترنت IP الخاص بك عند زيارتك الموقع. إن استخدامنا بروتوكول الإنترنت الخاص بك يساعدنا على تشخيص المشكلات التي تحدث في السيرفرات الخاصة بنا، وعلى إجراء الإحصاءات اللازم لقياس إستخدام الموقع (عدد الزوار ولغة جهاز الكمبيوتر الذي تستخدمه)، حيث أننا لا نسمح لأي جهة (بإستثناء مسئولي البوابة) بالإطلاع على بروتوكول الإنترنت الخاص بك

        </p>

        <h5>
            ملفات تعريف الارتباط (Cookies)
        </h5>

        <p>
            ​ أحياناُ يتم تخزين ما يسمى بملفات تعريف الإرتباط "Cookies" على الكمبيوتر الخاص بك عندما تقوم بزيارة موقعنا. حيث أن ملفات تعريف الارتباط "Cookies" هي جزء من البيانات التي تحددك كمستخدم بشكل فريد. كما يمكن استخدامها لتطوير معرفتك بالبوابة ولفهم قاعدة مستخدم هذه البوابة على نحو أفضل. يتم إعداد معظم المستعرضات في البداية لقبول ملفات تعريف الارتباط. كما يمكنك إعادة إعداد المتصفح الخاص بك لرفض كافة ملفات تعريف الارتباط أو للتنبيه عندما يتم إرسال ملفات تعريف الإرتباط. كما يرجى ملاحظة أن بعض الخدمات التي يتم عرضها على هذه البوابة قد لا تعمل بشكل صحيح إذا قمت برفض ملفات تعريف الإرتباط. حيث أننا قد نقوم / لا نقوم بربط المعلومات التي نقوم بتخزينها في ملفات تعريف الإرتباط بأي معلومات تعريف شخصية تقدمها على موقعنا.​ ​
        </p>
        
        <h5>
            حماية المعلومات الشخصية
        </h5>
        <p>
            لن تكون معلوماتك الشخصية متاحة إلا لموظفينا الذين يحتاجون إلى الإطلاع عليها. ولن تكون تلك المعلومات متاحة للجمهور من غير موافقتك. بالإضافة الي ذلك لن يتم تبادل، أو تداول، أي من تلك المعلومات لأي طرف آخر من غير موافقتك المسبقة.
        </p>

        <h5>
            المواقع الأخرى
        </h5>
        <p>
            ينطبق نهج الخصوصية هذا على بوابة "ceveve" للتوظيف فقط. وإذا ما انتقلت إلى موقع آخر من خلال موقعنا يتعين عليك قراءة نهج الخصوصية الخاص بذلك الموقع.
        </p> {% endcomment %}
    </div>
</div>

<br><br>
{% endblock %}