{% extends 'base.html' %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'css\employee\employeePortal.css' %}">
{% endblock %}

{% block sheri %}

<style>
    .container p {
        text-align: center;
    }

    .container h5 {
        margin-top: 25px;
        text-align: center;
    }
</style>



<div class="container">


    <div style="margin: 10px; margin-top: 150px;">


    </div>

    <div
        style=" background-color: #fff;  box-shadow: inset #d4d4d4 0px 0px 5px 3px; padding: 35px 20px; max-width: 1000px; margin: auto; border-radius: 20px;">


        <h2 style="text-align: center; color: #65007ec4;">إتفاقية الإستخدام</h2>
        <p>
            نرجو قراءة هذه الشروط والبنود بعناية، بدخولك إلى بوابة "ceveve" للتوظيف أو أي صفحات منه فإن ذلك يعني بأنك ملزم بالتقيد بالبنود والشروط الموضحة أدناه، وفي حالة عدم موافقتك على هذه الشروط والبنود نرجو عدم الدخول إلى هذا الموقع أو الإطلاع على أي صفحات منه​.
        </p>

        <h5>
            جميع حقوق الطبع محفوظة لشبكة "ceveve" لأصحاب السيرة والأعمال
        </h5>
        <p>
            تخضع الصفحات وشاشات عرض هذه الصفحات وكذلك المعلومات والنماذج والمواد الواردة في هذه الصفحات والشاشات لقوانين حقوق الملكية الفكرية، وتحتفظ شبكة "ceveve" بحقوقها القانونية تجاه أي مخالفة لذلك.
        </p>

        <h5>
            إستخدام المعلوما​ت والمواد
        </h5>

        <p>
            إن المعلومات والمواد الواردة في هذه الصفحات خاضعة للتغيير في أي وقت، ويحق ل "ceveve" تغيير هذه المعلومات وفقًا لما تقتضيه مصلحة العمل دون إبداء الأسباب.

يحق لجميع المنظمات والأشخاص ذوي السيرة من إستخدام هذه البوابة ومجرد إستخدامك لبوابة التوظيف الخاصة بشبكة "ceveve" فإنك تتعهد بصحة البيانات الخاصة بك أو لشركتك كما تتعهد بالإلتزام بالإجراءات المتتابعة خلف تقديمك على في هذه البوابة, على سبيل المثال لا الحصر: الرد على الرسائل والإيميلات والإتصالات وحضور المقابلات 

عدم إنتهاك خصوصية أي شخص أو إنتهاك أمان أي نظام كمبيوتر أو شبكة، والتي تشمل على سبيل المثال لا الحصر:

إنتهاك حقوق النشر أو العلامات التجارية أو الأسرار التجارية أو غيرها من حقوق الملكية أو حقوق الملكية الفكرية الأخرى بشكل مباشر أو غير مباشر؛

يجب ألا تكون أي معلومات أو مستندات أو بيانات أو مواد مقترحة أو مقدمة إلى شبكة "ceveve" مسيئة أو تشهير أو إستخدام مخالف للأنظمة والجرائم المعلوماتية

يجب ألا تحتوي أي ملفات مرسلة على "فيروسات"  أو "معلومات خاطئة" أو "بيانات لا تمتلكها" أو أي شك بأنها غير صالحة أو دقيقة أو أي برامج أو عناصر برمجية أخرى للبرمجة الحاسوبية تهدف إلى إتلاف أو تداخل أو إعتراض أو مصادرة أي نظام أو بيانات أو شبكة كمبيوتر أو المشاركة في أي أنشطة يمكن إعتبارها إختراقًا أو تتداخلاً بطريقة أخرى مع نزاهة هذه البوابة وبنيته التحتية الداعمة؛
إرتكاب أي فعل أو أي إغفال قد يكون له آثار تقنية سلبية على سلامة ووظائف هذا الموقع وخادمه الأساسية والبنية التحتية الداعمة له
        </p>

        <h5>
            عدم الضمان
        </h5>

<p>
    إن المعلومات والمواد المنقولة والواردة أو المدخلة من جميع الأطراف في هذي البوابة مثل النص والرسومات البيانية وخطوط الربط أو أي بنود أخرى قد تم إعطائها، فإن شبكة "ceveve" لا تضمن دقة هذه المعلومات أو ملاءمتها للغرض المقصود أو إذا كانت هذه المعلومات والمواد وافية أم لا. كما تخلي شبكة "ceveve" مسؤوليتها عن أي أخطاء في هذه المعلومات والمواد، ولا تعطي شبكة "ceveve" أي ضمان سواء كان ضمني أو صريح, ومهما كان نوعه وطبيعته يتعلق بتلك المعلومات. ويشمل ذلك على سبيل المثال لا الحصر الضمانات المتعلقة بعدم إنتهاك حقوق الأشخاص ذوي السيرة أو الأطراف الأخرى وحق الملكية وإمكانية تسويق المعلومات والمواد وملاءمتها للإستخدام في أي أغراض أخرى وخلوها من الفيروسات.
</p>

        <h5>
            حدود المسؤولية
        </h5>
        <p>
            لا تعتبر شبكة "ceveve" في أي حال من الأحوال مسؤولة عن أي أضرار ويشمل ذلك على سبيل المثال لا الحصر أي أضرار مباشرة أو خاصة أو طارئة أو لاحقة وأي خسائر أو مصاريف قد تنجم بسبب هذه البوابة أو بسبب إستخدامه أو عدم القدرة على إستخدامه بواسطة أي طرف.

        </p>

        <h5>
            التقديمات
        </h5>
        <p>
            تعتبر جميع المعلومات المقدمة من زوار الموقع ملكًا لشبكة "ceveve" التي يحق لها إستخدام هذه المعلومات لأي غرض وكذلك إستخدام أي أفكار أو مفاهيم أو أي خبرة أو تقنية تحتويها أي معلومات يوفرها أي زائر لهذه البوابة. وستتعامل شبكة "ceveve" مع هذه المعلومات وفق سياسة شبكة "ceveve" بخصوص سرية المعلومات أدناه.
        </p>

        <h5>
            
سياسة شبكة "ceveve" العامة بخصوص سرية المعلومات
        </h5>
<p>
    إذا قمت بتزويدنا بمعلومات شخصية عن نفسك كعنوانك ورقم هاتفك أو عنوان البريد الإلكتروني الخاص بك وكذلك أية معلومات أساسية أو تعريفية تخصك كزائر أو تخص الشركة المسجلة في بوابة "ceveve" لتوظيف ذوي السيرة، فإننا ملتزمون بعدم كشف تلك المعلومات (إطلاع أي شخص آخر عليها، أو بيعها أو إفشائها إلا للغرض السامي للبوابة وهو فيما يصب في تمكين ذوي السيرة في سوق العمل), وتسجيل بياناتك في البوابة يعني أنك تسمح لنا بإستخدامها ومشاركتها لغرض التوظيف أو التدريب أو التأهيل أو إعلان الوظيفة في البوابة, كما أنه سيتم إبلاغك بذلك ونحصل على تفويض أو إذن مسبق منك.
</p>

        <h5>
            رأي الزائر
        </h5>
        <p>
            في حالة وجود أي آراء أو إقتراحات يرجى إرسالها مباشرة إلى البريد الالكتروني mazaadat.com@gmail.com
        </p>
    </div>
</div>

<br><br>
{% endblock %}