{% extends "base.html" %}
{% load static %}

{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intl-tel-input@24.3.4/build/css/intlTelInput.css">

{% endblock links %}


{% block sheri %}


<div class="pt-5 container" dir="rtl">
    
  <div class=" mt-5 p-5" style="max-width: 600px; background-color: #f1f1f1; border-radius: 15px; border: 1px solid rgb(211, 211, 211); display: block; margin: auto;     box-shadow: 0 10px 15px rgba(0, 0, 0, .1) !important;">
    <h4>تسجيل الدخول</h4>
    <p>الرجاء اختيار طريقة تسجيل الدخول</p>

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">بريد الالكتروني</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">الهاتف</button>
    </li>

  </ul>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">



          <div style="max-width: 500px;" dir="rtl">
              <form method="post" class="pt-3">
                  {% csrf_token %}
                  <input type="hidden" name="type" value="1">

                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">البريد الالكتروني</label>
                    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">كلمة مرور الحساب</label>

                    <div style="position: relative;">
                      <input type="password" name="password" class="form-control password" id="exampleInputPassword1">
                      <i class="bi bi-eye-fill" style="position: absolute; top: 7px; left: 10px;" onclick="checkPassword()"></i>
                    </div>
                  </div>
    
                  <button type="submit" class="btn btn-primary">تسجيل الدخول</button>

                  <p class="mt-3">
                      ليس لديك حساب؟ <a data-bs-toggle="modal" data-bs-target="#SignupModal" id="SignupBtn" href="#">انشاء حساب</a>
                  </p>
                  <p class="mt-3">
                    هل نسيت كلمة المرور؟ <a href="{% url 'ForgetPassword' %}">استرجاع</a>
                </p>
                </form>
          </div>

    </div>






    <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">



          <div style="max-width: 500px;" dir="rtl">
              <form method="post" class="pt-3">
                  {% csrf_token %}
                  <input type="hidden" name="type" value="2">
                  <div class="mb-3">
                    <label for="" class="form-label">الهاتف</label>
                    <input type="tel" id="tel" oninput="verfiyPhone()" class="form-control" name="phone" placeholder="رقم الهاتف" aria-label="Username" aria-describedby="basic-addon1">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">كلمة مرور الحساب</label>

                    <div style="position: relative;">
                      <input type="password" name="password" class="form-control password" id="exampleInputPassword1">
                      <i class="bi bi-eye-fill" style="position: absolute; top: 7px; left: 10px;" onclick="checkPassword()"></i>
                    </div>
                  </div>
    
                  <button type="submit" class="btn btn-primary">تسجيل الدخول</button>

                  <p class="mt-3">
                      ليس لديك حساب؟ <a data-bs-toggle="modal" data-bs-target="#SignupModal" id="SignupBtn" href="#">انشاء حساب</a>
                  </p>
                  <p class="mt-3">
                    هل نسيت كلمة المرور؟ <a href="{% url 'ForgetPassword' %}">استرجاع</a>
                </p>
                </form>

      </div>
    </div>
  </div>
              

      

  </div>
</div>


<style>
  .iti  {
    width:100%;
}
#tel {
  text-align: right;
}
</style>
<script src="https://cdn.jsdelivr.net/npm/intl-tel-input@24.3.4/build/js/intlTelInput.min.js"></script>
<script>
const input = document.querySelector("#tel");
window.intlTelInput(input, {

initialCountry: "sa",
hiddenInput: () => ({ phone: "full_phone", country: "country_code" }),

utilsScript: "https://cdn.jsdelivr.net/npm/intl-tel-input@24.3.4/build/js/utils.js",
});
</script>

<script>
    $(document).ready(function() {
      is_signup = '{{is_signup}}'

      if (is_signup) {
        document.querySelector('#SignupBtn').click()
      }
    })
  function checkPassword(){
    let obj = document.querySelectorAll('.password');
    obj.forEach(el=>{
      if (el.type=='text') {
      el.type = 'password'
    } else {
      el.type = 'text'
    }
    })

  }


  function verfiyPhone() {
    let input = document.querySelector('#tel')
    let value = input.value
              if (value) {
            if (value.startsWith('0')) {
              value = value.substring(1, value.length)
            }
          }
          let accepted_char = '0123456789'
    out = ''
    for (var i = 0; i < value.length; i++) {
      if (accepted_char.includes(value[i])){
        
        out = out+value[i]
      }
    }
    input.value = out
  }
</script>
{% endblock sheri %}