{% extends "base.html" %}
{% load static %}

{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intl-tel-input@24.3.4/build/css/intlTelInput.css">

{% endblock links %}


{% block sheri %}


<div class="pt-5 main-box-flex" style="display: flex;" dir="rtl">
    <div class="bg-light p-5 progress-box">
        <h4>خطوات انشاء الحساب</h4>

        <div class="pt-5"></div>
        <div class="progress-content pt-2" style="opacity: 1;">
            <div class="progress-steps-box">
                <div class="progress-steps">
                    <i class="bi bi-person-plus-fill"></i>
                    <p>
                        إنشاء حساب
                    </p>
                </div>


                <i class="bi bi-exclamation-circle"></i>
            </div>
        </div>




        
        <div class="progress-content pt-2">
            <div class="progress-steps-box">
                <div class="progress-steps">
                    <i class="bi bi-person-check-fill"></i>
                    <p>
                        تاكيد الحساب
                    </p>
                </div>


                <i class="bi bi-exclamation-circle"></i>
            </div>
        </div>



        <div class="progress-content pt-2">
            <div class="progress-steps-box">
                <div class="progress-steps">
                    <i class="bi bi-person-fill-gear"></i>
                    <p>
                        إعداد ملف شخصي

                    </p>
                </div>


                <i class="bi bi-exclamation-circle"></i>
            </div>
        </div>

        {% comment %} <div class="progress-content pt-2">
            <div class="progress-steps-box">
                <div class="progress-steps">
                    <i class="bi bi-person-vcard-fill"></i>
                    <p>
                        بناء سيرتك الذاتية

                    </p>
                </div>


                <i class="bi bi-exclamation-circle"></i>
            </div>
        </div> {% endcomment %}


    </div>


    <div class="container mt-5 p-5">
        <h4>انشاء الحساب</h4>
        <p>الرجاء إكمال البيانات بالاسفل</p>

        <div style="max-width: 500px;" dir="rtl">
            <form method="post" class="pt-3 needs-validation" novalidate>
                {% csrf_token %}
                {% comment %} <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">البريد الالكتروني</label>
                  <input required type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div> {% endcomment %}

                <div class=" mb-3">
                    <label for="" class="form-label">الهاتف</label>
                    <input type="tel" id="tel" oninput="verfiyPhone()" class="form-control" name="phone" placeholder="رقم الهاتف" aria-label="Username" aria-describedby="basic-addon1">
                    <div id="emailHelp" class="form-text"><strong>مهم!</strong> يرجى ادخل رقم هاتف يتواجد عليه حساب واتس اب</div>

                </div>

                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">كلمة مرور</label>
                
                  <div style="position: relative;" class="password-box">
                    <input required type="password" name="password" id="password" class="form-control" id="exampleInputPassword1">
                    <i class="bi bi-eye-fill" style="position: absolute; top: 7px; left: 10px;" onclick="checkPassword()"></i>
                    <div class="invalid-feedback">
                    </div>
                  </div>
                </div>
                <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input" required id="exampleCheck1">
                  <label class="form-text fw-bold" for="exampleCheck1">بالضغط على زر "الخطة التالية" انت توافق على شروط <a href="{% url 'TermsConditions' %}">اتفاقية الاستخدام</a> و<a href="{% url 'PrivacyPolicy' %}">سياسة الخصوصية</a></label>
                  <div class="invalid-feedback">
                    يرجى الموافقة على الشروط
                  </div>
                </div>
                <button type="submit" class="btn btn-warning mt-3">الخطوة التالية</button>
              </form>
        </div>

    </div>


</div>


<script>
  (() => {
    'use strict'
  
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll('.needs-validation')
  
    // Loop over them and prevent submission
    Array.from(forms).forEach(form => {
      form.addEventListener('submit', event => {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
  
        }
          let passwordBox = form.querySelector('.password-box')
          let pwd = passwordBox.querySelector('input[type="password"]')
          let pwd_validation = passwordBox.querySelector('.invalid-feedback')
          if (pwd.value.length < 6) {
            event.preventDefault()
            event.stopPropagation()
            pwd_validation.innerHTML = 'مطلوب ادخال 6 احرف او ارقام على الاقل'
            pwd.classList.add('is-invalid');
            return false
          }
        form.classList.add('was-validated')
      }, false)
    })
  })()
  </script>

<style>

    .intl-tel-input {
      display: table-cell;
    }
    .intl-tel-input .selected-flag {
      z-index: 4;
    }
    .intl-tel-input .country-list {
      z-index: 5;
    }
    #tel {
      border-top-left-radius: 4px;
      border-top-right-radius: 0;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 0;
    }
    .iti  {
        width:100%;
    }
    </style>
    
    <script src="https://cdn.jsdelivr.net/npm/intl-tel-input@24.3.4/build/js/intlTelInput.min.js"></script>
    <script>
      const input = document.querySelector("#tel");
      window.intlTelInput(input, {
        
        initialCountry: "sa",
        hiddenInput: () => ({ phone: "full_phone", country: "country_code" }),
    
        utilsScript: "https://cdn.jsdelivr.net/npm/intl-tel-input@24.3.4/build/js/utils.js",
      });
    </script>

    <script>
        function checkPassword(){
          let obj = document.querySelector('#password');
          if (obj.type=='text') {
            obj.type = 'password'
          } else {
            obj.type = 'text'
          }
          
        }


        function verfiyPhone() {
          let input = document.querySelector('#tel')
          let value = input.value
                    if (value) {
            if (value.startsWith('0')) {
              value = value.substring(1, value.length)
            }
          }
          let accepted_char = '0123456789'
          out = ''
          for (var i = 0; i < value.length; i++) {
            if (accepted_char.includes(value[i])){
              
              out = out+value[i]
            }
          }
          input.value = out
        }
      </script>
{% endblock sheri %}