{% extends "base.html" %}
{% load static %}

{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intl-tel-input@24.3.4/build/css/intlTelInput.css">
{% endblock links %}


{% block sheri %}

<div class="pt-5 main-box-flex" style="display: flex;" dir="rtl">
    <div class="bg-light p-5 progress-box">
        <h4>خطوات انشاء الحساب</h4>

        <div class="pt-5"></div>
        <div class="progress-content pt-2" >
            <div class="progress-steps-box">
                <div class="progress-steps">
                    <i class="bi bi-person-plus-fill"></i>
                    <p>
                        إنشاء حساب
                    </p>
                </div>


                <i class="bi bi-check2"></i>
            </div>
        </div>






        <div class="progress-content pt-2" style="opacity: 1;">
            <div class="progress-steps-box">
                <div class="progress-steps">
                    <i class="bi bi-person-check-fill"></i>
                    <p>
                        تاكيد الحساب
                    </p>
                </div>


                <i class="bi bi-exclamation-circle"></i>
            </div>
        </div>




        <div class="progress-content pt-2">
            <div class="progress-steps-box">
                <div class="progress-steps">
                    <i class="bi bi-person-fill-gear"></i>
                    <p>
                        إعداد ملف شخصي

                    </p>
                </div>


                <i class="bi bi-check2"></i>
            </div>
        </div>
        {% comment %} <div class="progress-content pt-2">
            <div class="progress-steps-box">
                <div class="progress-steps">
                    <i class="bi bi-person-vcard-fill"></i>
                    <p>
                        بناء سيرتك الذاتية

                    </p>
                </div>


                <i class="bi bi-exclamation-circle"></i>
            </div>
        </div> {% endcomment %}


    </div>


    <div class="container mt-5 p-5">
        <h4>انشاء الحساب</h4>
        <p>الرجاء إكمال البيانات بالاسفل</p>


        <div style="max-width: 500px;" dir="rtl">
            <form method="post" action="">
                {% csrf_token %}
                <div class=" mb-3">
                    <label for="" class="form-label">كود التاكيد</label>
                    <!-- <span class="input-group-text" id="basic-addon1">@</span> -->
                    <input type="text" id="code" class="form-control" oninput="verfiyCode()" name="code" placeholder="كود التاكيد" aria-label="Username" aria-describedby="basic-addon1">
                  </div>

                <input type="hidden" name="resend" value="" id="resend">


                <button type="submit" class="btn btn-warning mb-2">الخطوة التالية</button>
                <button type="button" onclick="{document.querySelector('#resend').value='1';document.querySelector('form').submit()}" class="btn btn-primary mb-2">اعادة ارسال رمز التاكيد</button>
                
                <a href="{% url 'SignupSetupProcess' alt_id %}" class="btn btn-primary mb-2">تعديل الرقم</a>

              </form>
        </div>

    </div>


</div>

<style>

.intl-tel-input {
  display: table-cell;
}
.intl-tel-input .selected-flag {
  z-index: 4;
}
.intl-tel-input .country-list {
  z-index: 5;
}
#tel {
  border-top-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 0;
}

</style>



<script>

function verfiyCode() {
    let input = document.querySelector('input[name="code"]')
    let value = input.value
    let accepted_char = '0123456789'
    out = ''
    for (var i = 0; i < value.length; i++) {
      if (accepted_char.includes(value[i])){
        
        out = out+value[i]
      }
    }
    input.value = out
  }
</script>
{% endblock sheri %}