<h4 class="mt-5">الاعدادات</h4>
    <p>الرئيسية/ الاعدادت</p>

    <div class="profile-nav-main">
      <nav dir="rtl" class="mt-5 profile-nav">
        <div class="nav nav-tabs profile-nav-tabs" id="nav-tab2" role="tablist">
          <a href="{% url 'CompanySettingGernral' %}" class="nav-link {% if 'CompanySettingGernral' in request.path %} active {%endif%}" id="nav-home-tab2" type="button" role="tab" aria-selected="false">عام</a>
          {% comment %} <a href="{% url 'SettingsCV' %}" class="nav-link {% if 'SettingsCV' in request.path %} active {%endif%}" id="nav-profile-tab2" type="button" role="tab"
            aria-selected="true">السيرة</a> {% endcomment %}
          <a href="{% url 'CompanyNotificationsSettings' %}" class="nav-link {% if 'CompanyNotificationsSettings' in request.path %} active {%endif%}" id="nav-contact-tab2" type="button" role="tab"
            aria-selected="false">الاشعارات</a>
          <a href="{% url 'CompanyUserSubscription' %}" class="nav-link {% if 'CompanyUserSubscription' in request.path %} active {%endif%}" id="nav-disabled-tab2" type="button" role="tab"
            aria-selected="false">باقتي</a>
        </div>
      </nav>
    </div>


<style>

  @media only screen and (max-width: 768px) {
    .contents-box {
        justify-content: center;
        }

        .profile-nav {
            width:100%
        }
        .profile-nav-tabs {
            flex-direction: column;
            box-shadow: inset #cecece 0px 0px 6px;
            background-color: #ffffff82;
            padding: 5px;
            border-radius: 10px;
            text-align: center;
        }

        .nav-link.active {
          box-shadow: inset black 0px 0px 12px -7px;
      }
    }


</style>