{% extends "base.html" %}
{% load jobs_tags %}

{% block sheri %}
<style>
    h1 {font-size: 1.6em;}

    .main {
        background-color: #fff;
        max-width: 992px;
        padding: 10px;
        margin: auto;
    }

    .job-details {
        display: flex;
    }

    .job-details i{
        /* margin-right: 10px; */
    }

    .job-details p{
        margin: 6px;
        padding: 5px 10px;
        border-radius: 10px;
        text-align: center;
        font-size: .8em;
    }

    .job-title {
        font-weight: bold;
        text-decoration: none;
    }

    .title-box {
        display: flex;
        justify-content: space-between;
        padding-left:10px;
        align-items: flex-start;
    }

    .job-card-main {
        background-color: #f1f1f1;
        padding: 20px 10px;
        padding-bottom: 0;
    }

    .custom-text-truncate {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
    
</style>

<div style="margin-top: 100px;"></div>
<div class="container" dir="rtl">
    <p>الرئيسية/ الوظائف</p>
    <h1 style="text-align: center;">وظائفي</h1>
    
    <div class="main mt-5">
        <a href="{% url 'companyCreateJob' %}" class="btn btn-primary mb-2">اضافة وظيفية</a>
        {% for job in jobs %}
        {% get_number_of_apllyers job.id as number_of_apllyers %}
        {% get_number_of_accepted_apllyers job.id as number_of_accepted_apllyers %}

        <div class="job-card-main">
            <div class="title-box">
                <div>
                    <a class="btn {% if job.state == '0' %} btn-warning {% elif job.state == '1' %} btn-success {% elif job.state == '2' %}btn-danger{% endif %}" style="font-size:10px;">{{job.get_state_display}}</a>

                    <a href="{% url 'companyviewJob' job.id %}" class="job-title">{{job.job_title}}</a>

                </div>

            </div>
            <div class="job-details">
                <p  class="btn btn-light"><i class="bi bi-stopwatch-fill"></i>
                    {{job.whenpublished}}
                </p>
                <p  class="btn btn-light">
                    <i class="bi bi-ticket-fill"></i>
                    {{number_of_apllyers}} متقدم
                </p>

                {% comment %} <p  class="btn btn-light">
                    <i class="bi bi-joystick"></i>
                    {{number_of_accepted_apllyers}} مقبولين
                </p> {% endcomment %}
            </div>

            <p class="custom-text-truncate">
                {{job.about_job}}
            </p>
            <div style="display: flex; justify-content: space-between;">
                <a href="{% url 'companyviewJob' job.id %}" class="btn btn-primary mt-2">عرض</a>
                {% if job.state == '0' or job.state == '1' %}
                <a href="{% url 'companyCloseJob' job.id %}" class="btn btn-danger mt-2">أغلاق</a>
                {% elif job.state == '2' %}
                <a href="{% url 'companyOpenJob' job.id %}" class="btn btn-success mt-2">فتح</a>
                {% endif %}
            </div>
        <hr>

        </div>


        
        {% endfor %}
    </div>
</div>

{% endblock sheri %}