<h4 class="mt-5">الاعدادات</h4>
    <p>الرئيسية/ الاعدادت</p>

    <div>
      <nav dir="rtl" class="mt-5">
        <div class="nav nav-tabs" id="nav-tab2" role="tablist">
          <a href="{% url 'CVSettingsGernral' %}" class="nav-link {% if 'CVSettingsGernral' in request.path %} active {%endif%}" id="nav-home-tab2" type="button" role="tab" aria-selected="false">عام</a>
          <a href="{% url 'SettingsCV' %}" class="nav-link {% if 'SettingsCV' in request.path %} active {%endif%}" id="nav-profile-tab2" type="button" role="tab"
            aria-selected="true">السيرة</a>
          <a href="{% url 'EmployeeNotificationsSettings' %}" class="nav-link {% if 'EmployeeNotificationsSettings' in request.path %} active {%endif%}" id="nav-contact-tab2" type="button" role="tab"
            aria-selected="false">الاشعارات</a>
          <a href="{% url 'EmployeeUserSubscription' %}" class="nav-link {% if 'EmployeeUserSubscription' in request.path %} active {%endif%}" id="nav-disabled-tab2" type="button" role="tab"
            aria-selected="false">العضوية</a>
        </div>
      </nav>
    </div>