{% extends "base.html" %}
{% load static %}

{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'css/multi_select.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.css" />

{% endblock links %}


{% block sheri %}

<style>
  .carousel {
      max-width: 300px;
      margin: auto;
      margin-top: 60px;
  }
  .carousel img {
  height: 200px !important;
  width: 200px !important;
  border-radius: 100%;
  object-fit: cover;
  margin: auto;

}

.carousel-item-content {
  position: relative;width: 200px;margin: auto;border-radius: 100%;overflow: hidden;
}

.carousel-item-content i{
  position: absolute; bottom: 0; right: 50%; transform: translate(50%, 21%); color: white; width: 100%; background: #00000066; text-align: center; height: 60px; font-size: 25px; cursor: pointer;
}
</style>

<div class="container" style="display: flex; justify-content: flex-end;">

  <div class=" mt-5 pt-5" dir="rtl" style="width: min(100%, 700px); ">
    {% include "accounts/settings/Employee/settingsHeader.html" %}


    <form class="mt-3 bg-f1 p-3" method="post">
      {%  csrf_token %}

      <nav dir="rtl" >
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
            type="button" role="tab" aria-controls="nav-home" aria-selected="true">الملف الشخصي</button>
          <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button"
            role="tab" aria-controls="nav-profile" aria-selected="false">المعلومات الشخصية</button>
          <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button"
            role="tab" aria-controls="nav-contact" aria-selected="false">التواصل</button>
          <!-- <button class="nav-link" id="nav-disabled-tab" data-bs-toggle="tab" data-bs-target="#nav-disabled"
            type="button" role="tab" aria-controls="nav-disabled" aria-selected="false">احصائيات</button> -->
        </div>
      </nav>
      <hr>
      <div class="tab-content p-3" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"
          tabindex="0">



          <div id="carouselExampleIndicators" class="carousel slide carousel-dark" >
            <!-- <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div> -->
            <div class="carousel-inner" id="profile-imgs-box">
              {% for profile_img in profile_imgs %}
              <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}" id="cropped-result-{{forloop.counter}}" >
                <div class="carousel-item-content">
                  <img src="{{profile_img.img_base64}}" class="d-block w-100" alt="...">
                  <input type="hidden" value="{{profile_img.img_base64}}" name="profile_imgs" id="userprofile-avatar-{{forloop.counter}}">
                  <i class="bi bi-trash-fill" onclick="CarouselOnclickRemove('cropped-result-{{forloop.counter}}')"></i>
                </div>
              </div>
              {% endfor %}

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
            </button>
        </div>



<!-- Button trigger modal -->
<button type="button" class="btn btn-primary mt-3" style="margin: auto;display: block;" data-bs-toggle="modal" data-bs-target="#cropImagePop">
  رفع صورة ملف الشخصي
</button>

<!-- Modal -->
<div class="modal fade" id="cropImagePop" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">رفع صورة</h1>
        <button type="button" class="btn-close" style="margin: 0;margin-right: auto;" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="demo-wrap upload-demo">
          <div class="container">
              <div class="pull-left">
                 
                  <div >
                      <a >
                        <label for="exampleInputEmail1" class="form-label">رفع صورة</label>
                          <input type="file" id="upload" class="form-control" value="" accept="image/*" />
                      </a>

                      <input type="hidden" id="userprofile-avatar" class="form-control" >
                  </div>
              </div>
              <div class="pull-left">
                  <div class="upload-msg" onclick="document.querySelector('#upload').click()">
                      معاينة
                  </div>
                  <div class="upload-demo-wrap">
                      <div id="upload-demo"></div>
                  </div>
              </div>
          </div>
      </div>  

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">الغاء</button>
        <button type="button" class="btn btn-primary upload-result">رفع</button>
      </div>
    </div>
  </div>
</div>





          
          <div class="p-2 bg-f1">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">الاسم كاملا</label>
              <input value="{{employee_profile.name}}" type="text" name="full_name" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp">
            </div>

            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">المسمى الوظيفي المطلوب</label>
              <input value="{{employee_profile.job_title}}" type="text" name="job_title" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp">
            </div>




            <hr>

            <label for="exampleInputEmail1" class="form-label">نبذة عنك</label>
            <textarea rows="6" name="about_me" class="p-2 form-control">{{employee_profile.about_me}}</textarea>
          </div>


          <div class="mb-3">
            
            <label for="exampleInputEmail1" class="form-label">الرغبات</label>
            
            <div class="desires" id="desires">
              {% for i in employee_profile.desires.desires %}
              
              <div class="desires-box {% if forloop.counter != 1 %} mt-3 {% endif %}" id="desires-box-{{forloop.counter}}">
                <input value="{{i}}" name="desires" type="text" style="padding-left:30px ;" class="form-control"
                  id="exampleInputEmail1" aria-describedby="emailHelp">
                <a onclick="document.getElementById('desires-box-{{forloop.counter}}').remove()"
                  class="bi bi-trash-fill desiresButton"></a>
              </div>
              {% endfor %}
            </div>
            <button type="button" onclick="addDesires()" class="btn btn-primary mt-2">اضافة رغبة اخرى</button>
          </div>


          <div class="mb-3">
            
            <label for="exampleInputEmail1" class="form-label">خبرات سابقة</label>
            
            <div class="desires" id="experiences">
              {% for i in employee_profile.experiences.desires %}
              
              <div class="desires-box {% if forloop.counter != 1 %} mt-3 {% endif %}" id="desires-box-{{forloop.counter}}">
                <input value="{{i}}" name="experiences" type="text" style="padding-left:30px ;" class="form-control"
                  id="exampleInputEmail1" aria-describedby="emailHelp">
                <a onclick="document.getElementById('desires-box-{{forloop.counter}}').remove()"
                  class="bi bi-trash-fill desiresButton"></a>
              </div>
              {% endfor %}
            </div>
            <button type="button" onclick="addExperiences()" class="btn btn-primary mt-2">اضافة خبرة اخرى</button>
          </div>


          <div class="mb-3">
            
            <label for="exampleInputEmail1" class="form-label">دورات تدريبية</label>
            
            <div class="desires" id="classes">
              {% for i in employee_profile.classes.desires %}
              
              <div class="desires-box {% if forloop.counter != 1 %} mt-3 {% endif %}" id="desires-box-{{forloop.counter}}">
                <input value="{{i}}" name="classes" type="text" style="padding-left:30px ;" class="form-control"
                  id="exampleInputEmail1" aria-describedby="emailHelp">
                <a onclick="document.getElementById('desires-box-{{forloop.counter}}').remove()"
                  class="bi bi-trash-fill desiresButton"></a>
              </div>
              {% endfor %}
            </div>
            <button type="button" onclick="addClasses()" class="btn btn-primary mt-2">اضافة دورة اخرى</button>
          </div>


          <div class="mb-3">
            
            <label for="exampleInputEmail1" class="form-label">مهارات</label>
            
            <div class="desires" id="skils">
              {% for i in employee_profile.skils.desires %}
              
              <div class="desires-box {% if forloop.counter != 1 %} mt-3 {% endif %}" id="desires-box-{{forloop.counter}}">
                <input value="{{i}}" name="skils" type="text" style="padding-left:30px ;" class="form-control"
                  id="exampleInputEmail1" aria-describedby="emailHelp">
                <a onclick="document.getElementById('desires-box-{{forloop.counter}}').remove()"
                  class="bi bi-trash-fill desiresButton"></a>
              </div>
              {% endfor %}
            </div>
            <button type="button" onclick="addSkils()" class="btn btn-primary mt-2">اضافة مهارة اخرى</button>
          </div>


          <div class="mb-3">
            
            <label for="exampleInputEmail1" class="form-label">اللغة ودرجة الاتقان</label>
            
            <div class="desires" id="lang">
              {% for i in employee_profile.lang.desires %}
              
              <div class="desires-box {% if forloop.counter != 1 %} mt-3 {% endif %}" id="desires-box-{{forloop.counter}}">
                <input value="{{i}}" name="lang" type="text" style="padding-left:30px ;" class="form-control"
                  id="exampleInputEmail1" aria-describedby="emailHelp">
                <a onclick="document.getElementById('desires-box-{{forloop.counter}}').remove()"
                  class="bi bi-trash-fill desiresButton"></a>
              </div>
              {% endfor %}
            </div>
            <button type="button" onclick="addLang()" class="btn btn-primary mt-2">اضافة لغة اخرى</button>
          </div>


          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">المؤهل الدراسي</label>
            <select class="form-control" name="cert_type" id="">
              {% for i in CertTypeFields %}
              <option value="{{i.0}}" {%if i.0 == employee_profile.cert_type %} selected {% endif %}>{{i.1}}</option>
              {% endfor %}
            </select>
          </div>


          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">التخصص</label>
            <input value="{{employee_profile.major}}" type="text" name="major" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>




        </div>


        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">الجنس</label>
            <select name="gender" id="" class="form-control">
              {% for i in GenderFields %}
              <option value="{{i.0}}" {%if i.0 == employee_profile.gender %} selected {% endif %}>{{i.1}}</option>
              {% endfor %}
            </select>
          </div>

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">العمر</label>
            <input value="{{employee_profile.age}}" name="age" type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
{% comment %}

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">الوزن</label>
            <input value="{{employee_profile.weight}}" name="weight" type="number" class="form-control" id="exampleInputEmail1"
              aria-describedby="emailHelp">
          </div>


           <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">الطول</label>
            <input value="{{employee_profile.height}}" name="height" type="number" class="form-control" id="exampleInputEmail1"
              aria-describedby="emailHelp">
          </div> {% endcomment %}



          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">الحالة الإجتماعية</label>
            <select name="marital_status" id="" class="form-control">
              {% for i in StateFields %}
              <option value="{{i.0}}" {%if i.0 == employee_profile.marital_status %} selected {% endif %}>{{i.1}}</option>
              {% endfor %}
            </select>
          </div>

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">الحالة الصحية</label>
            <select name="health_status" id="" class="form-control">
              {% for i in healthes_status %}
              <option value="{{i.id}}" {%if i.id == employee_profile.healthes_status %} selected {% endif %}>{{i.name}}</option>
              {% endfor %}
            </select>
          </div>

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">دولة الاقامة</label>
            <select name="country" id="" class="form-control">
              {% for i in countrys %}
              <option value="{{i.id}}" {%if i.id == employee_profile.country.id %} selected {% endif %}>{{i.get_name_display}}</option>
              {% endfor %}
            </select>
          </div>


          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">المدينة</label>
            <input value="{{employee_profile.employee_city}}" name="employee_city" type="text" class="form-control" id="exampleInputEmail1"
              aria-describedby="emailHelp">
          </div>

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">الحي</label>
            <input value="{{employee_profile.district}}" name="district" type="text" class="form-control" id="exampleInputEmail1"
              aria-describedby="emailHelp">
          </div>

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">الجنسية</label>

            <select class="form-control" name="nationality" id="">
              {% for i in nationalitys %}
              <option value="{{i.id}}" {%if i.id == employee_profile.nationality.id %} selected {% endif %}>{{i.name}}</option>
              {% endfor %}
            </select>
          </div>

          {% comment %} <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">أمتلك سيارة ورخصة قيادة</label>
            <select name="have_car" id="" class="form-control">
              {% for i in YesNoFields %}
              <option value="{{i.0}}" {%if i.0 == employee_profile.have_car %} selected {% endif %}>{{i.1}}</option>
              {% endfor %}
            </select>
          </div> {% endcomment %}
        </div>


        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">

          <div id="emailHelp" class="form-text mb-3"><strong>مهم!</strong> هذه البيانات لن تظهر للاخرين في حال لم تشترك في احد الباقات</div>

          <!-- <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1"><i class="bi bi-envelope-fill"></i></span>
          <input value="" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        </div> -->


          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><i class="bi bi-telephone-fill"></i></span>
            <input value="{{employee_profile.phone}}" name="phone" type="text" class="form-control" placeholder="الهاتف" aria-label="Username"
              aria-describedby="basic-addon1">
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><i class="bi bi-whatsapp"></i></span>
            <input value="{{employee_profile.whatsapp}}" type="text" name="whatsapp" class="form-control" placeholder="رقم واتساب" aria-label="Username"
              aria-describedby="basic-addon1">
          </div>


          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><i class="bi bi-facebook"></i></span>
            <input value="{{employee_profile.facebook}}" type="text" name="facebook" class="form-control" placeholder="ملف الفيسبوك" aria-label="Username"
              aria-describedby="basic-addon1">
          </div>


          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><i class="bi bi-linkedin"></i></span>
            <input value="{{employee_profile.linkedin}}" type="text" name="linkedin" class="form-control" placeholder="ملف لينكدان" aria-label="Username"
              aria-describedby="basic-addon1">
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><i class="bi bi-instagram"></i></span>
            <input value="{{employee_profile.instgram}}" type="text" name="instgram" class="form-control" placeholder="انستغرام" aria-label="Username"
              aria-describedby="basic-addon1">
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><i class="bi bi-snapchat"></i></span>
            <input value="{{employee_profile.snapshat}}" type="text" name="snapshat" class="form-control" placeholder="سناب شات" aria-label="Username"
              aria-describedby="basic-addon1">
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><i class="bi bi-tiktok"></i></span>
            <input value="{{employee_profile.tiktok}}" type="text" name="tiktok" class="form-control" placeholder="تيك توك" aria-label="Username"
              aria-describedby="basic-addon1">
          </div>



        </div>

      </div>
      <button class="btn btn-primary">حفظ التعديلات</button>
    </form>


  </div>



</div>
<div class="mt-5"></div>



<style>
  .bg-f1 {
    background-color: #f1f1f1;
  }
</style>
<script src="{% static 'js/multi_select.js' %}"></script>
<script>
  let desiresID = {{employee_profile.desires.desires|length}}

  function addDesires() {
    desiresID++

    html_code = `
                          <div class="desires-box mt-3" id="desires-box-${desiresID}">
                              <input name="desires" type="text" style="padding-left:30px ;" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                              <a onclick="document.getElementById('desires-box-${desiresID}').remove()" class="bi bi-trash-fill desiresButton"></a>
                          </div>
      `
    document.getElementById('desires').insertAdjacentHTML('beforeend', html_code)
  }



  function addExperiences() {
    desiresID++
    html_code = `
                        <div class="desires-box mt-3" id="desires-box-${desiresID}">
                            <input required name="experiences" type="text" style="padding-left:30px ;" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            <a onclick="document.getElementById('desires-box-${desiresID}').remove()" class="bi bi-trash-fill desiresButton"></a>
                        </div>
    `
    document.getElementById('experiences').insertAdjacentHTML('beforeend', html_code)
}


function addClasses() {
    desiresID++
    html_code = `
                        <div class="desires-box mt-3" id="desires-box-${desiresID}">
                            <input required name="classes" type="text" style="padding-left:30px ;" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            <a onclick="document.getElementById('desires-box-${desiresID}').remove()" class="bi bi-trash-fill desiresButton"></a>
                        </div>
    `
    document.getElementById('classes').insertAdjacentHTML('beforeend', html_code)
}


function addSkils() {
    desiresID++
    html_code = `
                        <div class="desires-box mt-3" id="desires-box-${desiresID}">
                            <input required name="skils" type="text" style="padding-left:30px ;" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            <a onclick="document.getElementById('desires-box-${desiresID}').remove()" class="bi bi-trash-fill desiresButton"></a>
                        </div>
    `
    document.getElementById('skils').insertAdjacentHTML('beforeend', html_code)
}


function addLang() {
    desiresID++
    html_code = `
                        <div class="desires-box mt-3" id="desires-box-${desiresID}">
                            <input required name="lang" type="text" style="padding-left:30px ;" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            <a onclick="document.getElementById('desires-box-${desiresID}').remove()" class="bi bi-trash-fill desiresButton"></a>
                        </div>
    `
    document.getElementById('lang').insertAdjacentHTML('beforeend', html_code)
}
</script>


<style>
  .input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3),
  .input-group:not(.has-validation)>.form-floating:not(:last-child)>.form-control,
  .input-group:not(.has-validation)>.form-floating:not(:last-child)>.form-select,
  .input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }


  .upload-demo .upload-demo-wrap,

.upload-demo.ready .upload-msg {
    display: none;
}
.upload-demo.ready .upload-demo-wrap {
    display: block;
}
.upload-demo.ready .upload-result {
    display: block;    
}
.upload-demo-wrap {
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

.upload-demo .container {
    margin-left: 0px;
    padding-left: 0px;
}

.upload-msg {
    text-align: center;
    padding: 50px;
    font-size: 22px;
    color: #aaa;
    width: 260px;
    margin: 50px auto;
    border: 1px solid #aaa;
}
#cropped-result {
  margin-top:100px;
}
</style>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>	
<script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.js"></script>

<script>
  function removeCarouselActive() {
    document.querySelectorAll('.carousel-item').forEach(element => {
      element.classList.remove('active')
    });
  }

  function CarouselOnclickRemove(id) {
    let obj = document.querySelector('#'+id)
    let IMGObj = obj.querySelector('img')
    let IMGObjs = document.querySelectorAll('.carousel-item img')
    let objs = document.querySelectorAll('.carousel-item')
    let index = -1

    IMGObjs.forEach(element => {
      index++

      if (element.children == IMGObj.children) {
        if (index > 0) {
          removeCarouselActive()
          objs[index-1].classList.add('active')
          obj.remove()
          return true
        }
      }
      
    });
  

    removeCarouselActive()
    objs.forEach(element => {
      if (element.children != IMGObj.children){
        element.classList.add('active')
      }
    })
    obj.remove()
    
  }

  let imgCounter = {{profile_imgs|length}}
  function addProfileImg() {
    imgCounter++
    removeCarouselActive()

    html_code = `

            <div class="carousel-item active" id="cropped-result-${imgCounter}" >
              <div class="carousel-item-content">
                <img src="{% static '/img/header.avif' %}" class="d-block w-100" alt="...">
                <input type="hidden" name="profile_imgs" id="userprofile-avatar-${imgCounter}">
                <i class="bi bi-trash-fill" onclick="CarouselOnclickRemove('cropped-result-${imgCounter}')"></i>
              </div>
            </div>
      `
    document.getElementById('profile-imgs-box').insertAdjacentHTML('beforeend', html_code)


  }


$(document).ready(function(){

var $uploadCrop;

function readFile(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();

    reader.onload = function (e) {
        $('.upload-demo').addClass('ready');
        $uploadCrop.croppie('bind', {
                url: e.target.result
        }).then(function(){
                console.log('jQuery bind complete');
        });

    }

    reader.readAsDataURL(input.files[0]);
}
else {
        console.log("Sorry - you're browser doesn't support the FileReader API");
    }
}

$uploadCrop = $('#upload-demo').croppie({
        viewport: {
                width: 200,
                height: 200,
                type: 'circle'
        },
        enableExif: true
});

$('#upload').on('change', function () { readFile(this); });



$('.upload-result').on('click', function (ev) {
$uploadCrop.croppie('result', {
  type: 'canvas',
  size: 'viewport'
}).then(function (resp) {
  // in this hidden input we can send cropped image to server
  if (checkProfileImgCount()) {
    addProfileImg()
  // $('#userprofile-avatar').val(resp);
  // $('#cropped-result img').attr('src',resp);
  $('#userprofile-avatar-'+imgCounter).val(resp);
  $('#cropped-result-'+imgCounter+' img').attr('src',resp);
  $('#cropImagePop').modal('hide');
  }

});
});    

});



function checkProfileImgCount(){
  let count = document.querySelectorAll('.carousel-item').length
  if (count >=3) {
    showToast(randomGen(), 'نظام', 'لقد وصلت الى الحد الاقصى من رفع الصور ملف الشخصي', '')
    return false
  }
  return true
}
</script>
{% endblock %}