.nav-tabs .nav-link {
    font-size: 15px;
    padding: 9px;
}

.custom-text-truncate {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
    
    /* .cv-main-box .input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3),
    .cv-main-box .input-group:not(.has-validation)>.form-floating:not(:last-child)>.form-control,
    .cv-main-box .input-group:not(.has-validation)>.form-floating:not(:last-child)>.form-select,
    .cv-main-box .input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  
    .cv-main-box .input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    } */

.subscriptions-card-details p {
    margin: 0;
}

.subscriptions-card-details p i {
    font-size: 30px;
}
.subscriptions-main-ico i{
    font-size: 35px;
}
.Subscriptions-card {
    text-align: right;
    margin-top: 20px;
    padding: 35px; width: 300px; 
    border: 1px solid rgb(207, 207, 207); border-radius: 25px;
}

.tab-content {
    background-color: #ffffff82;
}

.cv-flex-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.hide {
    width: 0;
    height: 0px; overflow: hidden;
    transition: all .15s ease-in;
    opacity: 0;

}

.showDetailes {
    display: block;
    height: 100%;
    width: 100%;
    transition: all .15s ease-out;
    opacity: 1;
}


.border-prim {
    border: double 6px gold;
}

.showDetailes .contents-box {
    grid-template-columns: auto !important;
}

.showDetailes .contents-box p {
    grid-template-columns: auto !important;

}

.showDetailes .contents-box .answer {
    text-align: right !important;
    
}
.more-info {

    position: absolute; bottom: -7px; border-radius: 10px; color: white; font-weight: bold;height: 35px; text-align: center; display: flex; align-items: center; justify-content: center;right: 50%; transform: translate(50%, 20%); z-index: 1;font-size: 12px;
}
.contact-info {
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-start;
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid rgb(229, 229, 229);
}
.contact-info-soshial {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.tab-content {
    background-color: #fff;
    border: solid 1px #e1e1e1;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top: none;
}

.contact-info-soshial i {
        background-color: #f1f1f1;
        color: rgb(48, 48, 48);
        padding: 15px;
        margin-left: 5px;
        margin-top: 5px;
        font-size: 22px;
        border-radius: 10px;
        box-shadow: inset rgb(100, 100, 100) 0px 0px 6px ;

}

.contact-info-soshial a {
    margin-left: 5px;
    margin-top: 5px;
    display: flex;
}

.contact-info-soshial i:hover {

        transition: all .13s linear;
        box-shadow: rgb(100, 100, 100) 0px 0px 6px ;
        color: rgb(87, 87, 255);

}


.cv-content {width: 100%; padding: 20px;}


.cv-box .contents-box p {
    position: relative;
    overflow: hidden;
    z-index: 3;
    border: solid 1px #00000033;
    border-radius: 3px;
    margin: 3px;
    background-color: #fff;
}

.contents-box p{
    background-color: #f1f1f1; border-radius: 10px;
    display: grid;
    grid-template-columns: auto auto;
    justify-items: stretch;
    align-items: stretch;

}
.contents-box p span {
    padding: 5px;
}


.contents-box .answer{
    display: block;
    font-size: .9em;
    color: rgb(32, 32, 32);
    font-weight: 100;
    text-align: center;

}

.contents-box .answer i{
    margin-left: 4px;
}

.questtion {
    background-color: #f1f1f1;
    text-align: center !important;
    border-left: solid 1px #00000033;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contents-box {
    display: grid; grid-template-columns: auto auto;
    justify-items: stretch;
    background-color: #ffffff82; padding: 5px; border-radius: 10px;
    box-shadow:inset #cecece 0px 0px 6px;
}


.cv-main-box {
    position: relative;
    width: min(100%, 360px);
    /* margin-left: 1rem !important; */

}

.cv-box {
    background-color: #f1f1f1;
    border: .1rem solid #dedede;
    border-radius: .8rem;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    box-shadow: #00000052 0px 0px 16px 1px;

    flex-direction: column-reverse;
    align-items: center !important;
    margin: 0 10px;
}

.carousel img {
    height: 110px !important;
    width: 110px !important;
    border-radius: 100%;
    object-fit: cover;
    margin: auto;

}

.arial {
        font-family: Arial;
        letter-spacing: .3px;
    }


header {
		background: url('{% static '/img/header.jpg' %}');
		text-align: center;
		width: 100%;
		height: 100vh;
		background-size: cover;
		background-attachment: fixed;
		position: relative;
		overflow: hidden;
		/* border-radius: 0 0 85% 85% / 30%; */
	}

	header .overlay {
		width: 100%;
		height: 100%;
		padding: 50px 0px;
		color: #FFF;
		text-shadow: 1px 1px 1px #333;
		background-image: linear-gradient( 135deg, #00000095 10%, #00000095 100%);

	}

	h1 {
		/* font-family: 'Dancing Script', cursive; */
		font-size: 40px;
		margin-bottom: 30px;
	}

    .title_desc {
        max-width: 900px; margin: auto; font-size: 18px !important;
    }

	h3,
	.overlay p {
		font-size: 30px;
		margin-bottom: 30px;
	}

	.read-btn {
		text-decoration: none;
		border: none;
		outline: none;
		padding: 10px 20px;
		border-radius: 50px;
		color: #333;
		background: #fff;
		margin-bottom: 20px;
		{% comment %} box-shadow: 0 3px 20px 0 #0000003b; {% endcomment %}
	}

	button:hover, a:hover {
		cursor: pointer;
		background-color: #eeeeee;
	}

	.none-hover:hover {
		background-color: #fff;
	}

    .input-group .hideed {
        display: none;
    }
    .input-group .no-border {
        border-radius: 0px !important;
    }

    @media only screen and (max-width: 768px) {
    .cv-main-box {
        margin-left: 0 !important;
    }

    .Subscriptions-main-box {
        justify-content: center !important;
    }
    h1 {
        font-size: 30px;
    }

    
    .title_desc {
        font-size: 16px !important;
    }
}
@media only screen and (max-width: 600px) {

    /* .contents-box {
        grid-template-columns: auto auto;
    } */

    .input-group {
        flex-direction: column-reverse;
    }

    .input-group input, .input-group select {
        width: 100% !important;
        border-radius: 0;
        padding: 10px;
    }

    .input-group-text {
        justify-content: center;
    }
    .input-group select {
        border-bottom-right-radius: 15px !important;
        border-bottom-left-radius: 15px !important;
        text-align: center;
    }

    .input-group input {
        border-top-right-radius: 15px !important;
        border-top-left-radius: 15px !important;
        text-align: center;
        margin-bottom: 7px;
    }
    .input-group select {

        margin-bottom: 7px;
    }
    .input-group .hideed {
        display: block;
    }

    .input-group button {
        margin: auto;
        margin-top: 10px;
        border-radius: 15px !important;
        padding: 15px 30px;
        font-size: 20px;
        
    }
    .input-group button::before {
        content: "بحث";
    }

}

.bi-facebook {
    color: #1877F2 !important;
}
.bi-linkedin {
    color: #0077B5 !important;
}
.bi-whatsapp {
    color: #075E54 !important;
}
.bi-instagram {
    color: #E1306C !important;
}
.bi-snapchat {
    color: #FFFC00 !important;
}

@media only screen and (max-width: 349px) {
    .contents-box {
        
        grid-template-columns: auto;
    }
}


.search-form-mob {
    display: none;
}

.search-main {
    width: 300px;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
}

.main {
    display: flex;
}

.cv-flex-main {
    justify-content: flex-start;
    padding: 20px;
}
.search-main form{
    display: grid;
}


.cv-box {margin: 10px;}

@media only screen and (max-width: 1200px) {
        
    .cv-flex-main {
        justify-content: center;
        padding: 0px;
    }
        .search-main form{
            grid-template-columns: auto auto auto;
        }
        .search-main form div{
            margin-left: 20px;
            margin-bottom: 10px;
        }
        .search-main{
            margin: auto;
            width: 100%;
        }
        .main {
        flex-wrap: wrap;

        }
    }
    .search-form-mob {
        
        display: none !important;
    }

    @media only screen and (max-width: 500px) {
        .search-main form{
            grid-template-columns: auto auto;
        }
        .search-form {
        
            display: none !important;
        }
        .search-form-mob {
            
            display: block !important;
        }

    }

    @media only screen and (max-width: 350px) {
        /* .search-main form{
            grid-template-columns: auto;
        } */

    }

