{% extends "base.html" %}
{% load jobs_tags %}
{% block sheri %}
<style>
    h1 {font-size: 1.6em;}

    .main {
        background-color: #fff;
        max-width: 992px;
        padding: 10px;
        margin: auto;
    }

    .job-details {
        display: flex;
    }

    .job-details i{
        /* margin-right: 10px; */
    }

    .job-details p{
        margin: 6px;
        padding: 5px 10px;
        border-radius: 10px;
        text-align: center;
        font-size: .8em;
    }

    .job-title {
        font-weight: bold;
        text-decoration: none;
    }

    .title-box {
        display: flex;
        justify-content: space-between;
        padding-left:10px;
        align-items: flex-start;
    }

    .job-card-main {
        background-color: #f1f1f1;
        padding: 20px 10px;
        padding-bottom: 0;
    }

    .custom-text-truncate {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.cp-info {display: flex; justify-content: space-between; align-items: center;}
.cp-info p {font-weight: bold;}
</style>

<div style="margin-top: 100px;"></div>
<div class="container" dir="rtl">
    <p>الرئيسية/ الوظائف</p>
    <h1 style="text-align: center;">الوظائف المتاحة</h1>

    <div class="main mt-5">

        {% for job in jobs %}
        {% get_number_of_apllyers job.id as number_of_apllyers %}

        <div class="job-card-main">
            <div class="title-box">
                <a href="{% url 'viewJob' job.id %}" class="job-title">{{job.job_title}}</a>

                
            </div>
            <div class="job-details">
                <p class="btn {% if job.state == '0' %} btn-warning {% elif job.state == '1' %} btn-success {% elif job.state == '2' %}btn-danger{% endif %}">
                    <i class="bi bi-joystick"></i>
                    {{job.get_state_display}}
                </p>

                <p class="btn btn-light"><i class="bi bi-stopwatch-fill"></i>
                    {{job.whenpublished}}
                </p>
                <p class="btn btn-light">
                    <i class="bi bi-ticket-fill"></i>
                    {{number_of_apllyers}} متقدم
                </p>


            </div>
                <p class="custom-text-truncate">
                    {{job.about_job}}    
                </p>
            <div class="cp-info">
                <div class="bg-white shadow-sm p-2 rounded-3 m-0 me-2">
                    <label dir="rtl" class=" form-label">الشركة المعلنة: </label>
                    <p dir="rtl" class="form-text m-0" >{{job.user.userprofile.companyprofile.company_name}} في {{job.user.userprofile.companyprofile.country.get_name_display}}/{{job.user.userprofile.companyprofile.employee_city}}</p>
                </div>

                {% is_user_apllied job.id request.user.id as user_apllied %}
                <div style="display: flex; flex-direction: column;">
                    {% if user_apllied %}
                    <p class="btn btn-warning" style="font-size: 12px; font-weight: unset; text-wrap: nowrap;">
                        <i class="bi bi-ticket-fill"></i>
                        تم التقديم
                    </p>
                    {% endif %}
                    <a href="{% url 'viewJob' job.id %}" class="btn btn-primary">
                        {% if job.state == '2' or user_apllied %}عرض {% elif job.state == '1' %}تقديم{% endif %}
                    </a>
                </div>

            </div>

        <hr>

        </div>


        
        {% endfor %}
    </div>
</div>

{% endblock sheri %}