{% load static %}
{% load custom_tags %}
{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">

{% endblock links %}

{% if request.user.userprofile.is_has_subscription %}
{% with subscription=request.user.userprofile.subscription %}

<div class="Subscriptions-main-box" dir="rtl" style="display: flex; justify-content: space-between; flex-wrap: wrap; align-items: flex-start;">
    <div class="Subscriptions-card {{subscription.subscription.Theem}}" style="width: 100%;">
        <div class="subscriptions-main-ico">
            {% if subscription.subscription.ico %}
            <img src="{{subscription.subscription.ico.url}}" width="80" alt="">
            {% endif %}
        </div>
        <h4 class="pt-4">{{subscription.subscription.title}}</h4>
        <p >{{subscription.subscription.subtitle}}</p>

        <div style="display: flex;align-items: flex-end; margin-top: 50px;" >
            <div style="display: flex;">
                <p style="padding: 0; margin: 0;">{{subscription.subscription.currency}}</p>
                {% if subscription.subscription.is_default_Subscription %}
                <span style="font-size: 35px; padding: 0; margin: 0;line-height: 1;">مجاني</span>
                {% else %}
                <span style="font-size: 80px; padding: 0; margin: 0;line-height: 1;">{{subscription.price|stringformat:'d'}}</span>

                {% endif %}
            </div>

            <p style="padding: 0; margin: 0;">/متبقي {{request.user.userprofile.reminding_subscription_days}} يوم</p>
        </div>

        <hr class="mt-5">
        <div class="subscriptions-card-details">
            <p style="display: flex; align-items: center;">
                <i class="bi bi-check2 ms-2" ></i>
                عدد ارسال الرسائل المتبقية {{request.user.userprofile.subscription_send_msg_data.3}} من {{request.user.userprofile.subscription_send_msg_data.2}}
            </p>

            <p style="display: flex; align-items: center;">
                <i class="bi bi-check2 ms-2" ></i>
                عدد استقبال الرسائل المتبقية {{request.user.userprofile.subscription_received_msg_data.3}} من {{request.user.userprofile.subscription_received_msg_data.2}}
            </p>

            <p style="display: flex; align-items: center;">
                <i class="bi bi-check2 ms-2" ></i>
                عدد السير المسموح بالاطلاع عليها {{request.user.userprofile.subscription_viewed_profile_data.3}} من {{request.user.userprofile.subscription_viewed_profile_data.2}}
            </p>



            <p style="display: flex; align-items: center;">
                {% if subscription.subscription.show_email %}
                <i class="bi bi-check2 ms-2" ></i>
                {% else %}
                <i class="bi bi-x ms-2" ></i>
                {% endif %}
                إظهار البريد الالكتروني
            </p>


            <p style="display: flex; align-items: center;">
                {% if subscription.subscription.show_phone %}
                <i class="bi bi-check2 ms-2" ></i>
                {% else %}
                <i class="bi bi-x ms-2" ></i>
                {% endif %}
                اظهار رقم الهاتف
            </p>


            <p style="display: flex; align-items: center;">
                {% if subscription.subscription.show_whats %}
                <i class="bi bi-check2 ms-2" ></i>
                {% else %}
                <i class="bi bi-x ms-2" ></i>
                {% endif %}
                اظهار رقم الواتساب
            </p>

            <p style="display: flex; align-items: center;">
                {% if subscription.subscription.show_facebook %}
                <i class="bi bi-check2 ms-2" ></i>
                {% else %}
                <i class="bi bi-x ms-2" ></i>
                {% endif %}
                اظهار حساب الفيسبوك
            </p>
            
            <p style="display: flex; align-items: center;">
                {% if subscription.subscription.show_linkedin %}
                <i class="bi bi-check2 ms-2" ></i>
                {% else %}
                <i class="bi bi-x ms-2" ></i>
                {% endif %}
                اظهار حساب الينكداين
            </p>

            <p style="display: flex; align-items: center;">
                {% if subscription.subscription.show_instgram %}
                <i class="bi bi-check2 ms-2" ></i>
                {% else %}
                <i class="bi bi-x ms-2" ></i>
                {% endif %}
                اظهار حساب الانستغرام
            </p>

            <p style="display: flex; align-items: center;">
                {% if subscription.subscription.show_snap %}
                <i class="bi bi-check2 ms-2" ></i>
                {% else %}
                <i class="bi bi-x ms-2" ></i>
                {% endif %}
                اظهار حساب سناب شات
            </p>


            <p style="display: flex; align-items: center;">
                {% if subscription.subscription.show_tiktok %}
                <i class="bi bi-check2 ms-2" ></i>
                {% else %}
                <i class="bi bi-x ms-2" ></i>
                {% endif %}
                اظهار حساب التيك توك
            </p>


            


            <p style="display: flex; align-items: center;">
                {% if subscription.subscription.referral_link_to_earn %}
                <i class="bi bi-check2 ms-2" ></i>
                {% else %}
                <i class="bi bi-x ms-2" ></i>
                {% endif %}
                الحصول على رابط احاله للربح
            </p>
            


            <p style="display: flex; align-items: center;">
                {% if subscription.subscription.distinctive_mark %}
                <i class="bi bi-check2 ms-2" ></i>
                {% else %}
                <i class="bi bi-x ms-2" ></i>
                {% endif %}
                اظهار علامة مميزة
            </p>

            <p style="display: flex; align-items: center;">
                {% if subscription.subscription.distinctive_frame %}
                <i class="bi bi-check2 ms-2" ></i>
                {% else %}
                <i class="bi bi-x ms-2" ></i>
                {% endif %}
                اظهار اطار مميز
            </p>

            <p style="display: flex; align-items: center;">
                {% if subscription.subscription.show_in_distinctive_users %}
                <i class="bi bi-check2 ms-2" ></i>
                {% else %}
                <i class="bi bi-x ms-2" ></i>
                {% endif %}
                الظهور ضمن الاعضاء التميز
            </p>
            
            <p style="display: flex; align-items: center;">
                {% if subscription.subscription.show_on_first_search %}
                <i class="bi bi-check2 ms-2" ></i>
                {% else %}
                <i class="bi bi-x ms-2" ></i>
                {% endif %}
                الظهور في مقدمة البحث
            </p>

            <p style="display: flex; align-items: center;">
                {% if subscription.subscription.apply_jobs %}
                <i class="bi bi-check2 ms-2" ></i>
                {% else %}
                <i class="bi bi-x ms-2" ></i>
                {% endif %}
                التقديم على الوظائف
            </p>


            
            <p style="display: flex; align-items: center;">
                {% if subscription.subscription.show_number_of_likes %}
                <i class="bi bi-check2 ms-2" ></i>
                {% else %}
                <i class="bi bi-x ms-2" ></i>
                {% endif %}
                اظهار عدد المعجبين
            </p>

            <p style="display: flex; align-items: center;">
                {% if subscription.subscription.show_number_of_appearances %}
                <i class="bi bi-check2 ms-2" ></i>
                {% else %}
                <i class="bi bi-x ms-2" ></i>
                {% endif %}
                اظهار عدد الظهور للسيرة
            </p>


            <div style="display: grid;">
            {% if not subscription.subscription.is_default_Subscription %}

                <a href="{% url 'UserPayment' subscription.subscription.id %}" class="btn btn-outline-light mt-5 p-2" >تجديد الاشتراك</a>
            {% endif %}
            <a href="{% url 'Subscriptions' %}" class="btn btn-outline-light mt-5 p-2" >ترقية الاشتراك</a>
                <a href="{% url 'DisableUserSubscription' %}" class="btn btn-danger mt-5 p-2" >الغاء الاشتراك</a>

            </div>
        </div>
    </div>

</div>

{% endwith %}
{% else %}
<p class="pt-5">يرجى الاشتراك للتمكن من رؤية معلومات الاشتراك</p>
{% endif %}