{% extends "base.html" %}
{% load custom_tags %}

{% load static %}

{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">

{% endblock links %}


{% block sheri %}
<style>
    .carousel {
        max-width: 300px;
        margin: auto;
        margin-top: 60px;
    }
    .carousel img {
    height: 200px !important;
    width: 200px !important;
    border-radius: 100%;
    object-fit: cover;
    margin: auto;

}

.profile-nav-main button:hover { 
      
    color: unset !important;
    border-color: unset !important;
}
.btn-outline-primary:hover {
    background-color:unset !important;
}
.btn-outline-warning:hover {
    background-color:unset !important;
}
</style>

<div class="bg-f1" dir="rtl">
    <div class="container p-5" style="padding-bottom: 0 !important;">
        <div id="carouselExampleIndicators" class="carousel slide carousel-dark" >
            <div class="carousel-indicators">
            {% for profile_image in profile_images %}
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{forloop.counter|add:-1}}" {%if forloop.counter == 1 %} class="active" aria-current="true" {%endif%} aria-label="Slide {{forloop.counter}}"></button>

            {% endfor %}
            </div>
            <div class="carousel-inner">
            {% if profile_images and userprofile.subscription.subscription.show_userprofile_img %}
            {% for profile_image in profile_images %}
            <div class="carousel-item {%if forloop.counter == 1 %} active {%endif%}">
                <img src="{{profile_image.img_base64}}" class="d-block w-100 {% if profile_images and userprofile.subscription.subscription.distinctive_frame %} border-prim {% endif %}" alt="...">
            </div>
            {% endfor %}
            {% else %}
            <div class="carousel-item active">
                {% if userprofile.employeeprofile.gender == '1' %}
                <img src="{% static 'img/smiling-people-avatars-male.png' %}" class="d-block w-100 {% if  userprofile.subscription.subscription.distinctive_frame %} border-prim {% endif %}" alt="...">
                {% else %}
                <img src="{% static 'img/smiling-people-avatars-female.png' %}" class="d-block w-100 {% if  userprofile.subscription.subscription.distinctive_frame %} border-prim {% endif %}" alt="...">
                {% endif %}
            </div>
            {% endif %}



            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
            </button>
        </div>
        {% if userprofile.subscription.subscription.distinctive_mark %}
        <div class="form-text mb-3 text-center fw-bold text-warning">عضو مميز</div>
        {% endif %}
        <div class="text-center mt-3 mb-3" style="display: flex;justify-content: center;     align-items: center;">
            {% if userprofile.is_active %}
            <span class="badge translate-middle p-2 mt-2 bg-success border border-light rounded-circle"> </span>
            {% else %}
            <span class="badge translate-middle p-2 mt-2 bg-danger border border-light rounded-circle"> </span>
            {% endif %}
            <h4>{{employee_profile.name}}</h4>
        </div>
        <div  class="main-info mb-3">

            <div class="main-info-item">
                <i class="bi bi-briefcase-fill"></i>
                <p>{{employee_profile.job_title}}</p>
            </div>

            <div class="main-info-item">
                <i class="bi bi-geo-alt-fill"></i>
                <p>{{employee_profile.country.get_name_display}}</p>
            </div>

            <div class="main-info-item">
                <i class="bi bi-person-fill"></i>
                <p>صاحب سيرة</p>
            </div>
        </div>
        <p style="line-height: 0; text-align: center; opacity: .8; font-size:14px;">رقم العضوية:{{userprofile.user.username}}</p>

        <div class="profile-nav-main">
            <nav dir="rtl" class="mt-5 profile-nav">
                <div class="nav nav-tabs profile-nav-tabs" id="nav-tab" role="tablist">
                  <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">الملف الشخصي</button>
                  <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">المعلومات الشخصية</button>
                  <button {% if not userprofile.is_has_subscription %} onclick="{showToast(randomGen(), 'نظام', 'في حال رغبتك في ظهور وسائل التواصل يجب عليك الاشتراك في احد الباقات <a href=\'/Subscriptions\'>اضغط هنا</a> ', '')}" {% else %}  id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" {% endif %}  class="nav-link" aria-selected="false">التواصل</button>
                  
                  <button class="nav-link" id="nav-disabled-tab" data-bs-toggle="tab" data-bs-target="#nav-disabled" type="button" role="tab" aria-controls="nav-disabled" aria-selected="false">احصائيات</button>
                  {% if request.user.id == userprofile.user.id %}
                  <button onclick="{window.location = ('{% url 'EmployeeNotificationsSettings' %}')}" class="nav-link" aria-selected="false">الاعدادات</button>
                  <button onclick="{window.location = ('{% url 'EmployeeUserSubscription' %}')}" class="nav-link" aria-selected="false">باقتي</button>
                  {% endif %}
                </div>
              </nav>


            {% if request.user.id == userprofile.user.id %}
            {% if userprofile.subscription.subscription.referral_link_to_earn %}
            <a href="{% url 'MyReferralLink' %}" class="btn btn-primary m-3">
                <i class="bi bi-coin"></i>
                روابط الاحالة للارباح
                </a>
            {% endif %}

            <a href="{% url 'CVSettingsGernral' %}" class="btn btn-primary m-3">
              <i class="bi bi-pencil-square"></i>
              تعديل الملف الشخصي
              </a>


              {% else %}
              <div style="display: flex; flex-wrap: wrap;">
                <button class="btn btn{% if not is_liked %}-outline{%endif%}-primary m-1" id="like" type="button" onclick="UserLike()">
                    <i class="bi bi-hand-thumbs-up-fill"></i>
                </button>
                <button class="btn btn{% if not is_fav %}-outline{%endif%}-warning m-1" id="fav" type="button" onclick="AddDeleteFavorite()">
                    <i class="bi  bi-star-fill"></i>
                </button>
              </div>

              <a href="{% url 'createMessager' userprofile.user.id %}" class="btn btn-primary m-3">
                  <i style="font-size: 20px; margin-left:6px;" class="bi bi-send-fill"></i>
                  تواصل معه
                  </a>

                
              {% endif %}
        </div>


    </div>

</div>

<div class="container" style="background-color: #fff; margin-top: 30px;text-align: justify;" dir="rtl">
        
    <div class="tab-content p-3" id="nav-tabContent" >
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
            <div class="p-2 bg-f1">
                <p>نبذة عني
                </p>
                <hr>
                <div class="p-2">
                    {{employee_profile.about_me}}
                </div>
            </div>

            <div class="p-2 mt-3 bg-f1">
                <p>خبراتي</p>
                <hr>
                <div>
     
                    <div class="contents-box" style="grid-template-columns: auto auto auto; background-color: #f1f1f1;">
                        {% for experience in employee_profile.experiences.desires %}
                        <p >
                            <span class="answer text-dark" ><i class="bi bi-explicit me-1"></i>{{experience}}</span>
                        </p >

                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="p-2 mt-3 bg-f1">
                <p>مهاراتي</p>
                <hr>
                <div>
     
                    <div class="contents-box" style="grid-template-columns: auto auto auto; background-color: #f1f1f1;">
                        {% for experience in employee_profile.skils.desires %}
                        <p >
                            <span class="answer text-dark" ><i class="bi bi-explicit me-1"></i>{{experience}}</span>
                        </p >

                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="p-2 mt-3 bg-f1">
                <p>رغباتي</p>
                <hr>
                <div>
     
                    <div class="contents-box" style="grid-template-columns: auto auto auto; background-color: #f1f1f1;">
                        {% for experience in employee_profile.desires.desires %}
                        <p >
                            <span class="answer text-dark" ><i class="bi bi-explicit me-1"></i>{{experience}}</span>
                        </p >

                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="p-2 mt-3 bg-f1">
                <p>دورات</p>
                <hr>
                <div>
     
                    <div class="contents-box" style="grid-template-columns: auto auto auto; background-color: #f1f1f1;">
                        {% for experience in employee_profile.classes.desires %}
                        <p >
                            <span class="answer text-dark" ><i class="bi bi-explicit me-1"></i>{{experience}}</span>
                        </p >

                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="p-2 mt-3 bg-f1">
                <p>اللغات التي اتقنها</p>
                <hr>
                <div>
     
                    <div class="contents-box" style="grid-template-columns: auto auto auto; background-color: #f1f1f1;">
                        {% for experience in employee_profile.lang.desires %}
                        <p >
                            <span class="answer text-dark" ><i class="bi bi-explicit me-1"></i>{{experience}}</span>
                        </p >

                        {% endfor %}
                    </div>
                </div>
            </div>



        </div>


        
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
            <div class="contents-box p-2 bg-f1">
                <p >
                    <span class="questtion">الجنسية:</span>

                    <span class="answer" >{{employee_profile.nationality.name}}</span>
                </p >

                <p >
                    <span class="questtion">العمر:</span>
                    <span class="answer" >{{employee_profile.age}}</span>
                    
                </p >



                <p >
                    <span class="questtion">المؤهل:</span>
                    <span class="answer" >{{employee_profile.get_cert_type_display}}</span>
                    
                </p >

                <p >
                    <span class="questtion">التخصص:</span>
                    <span class="answer" >{{employee_profile.major}}</span>
                    
                </p >

                <p >
                    <span class="questtion">الحالة الاجتماعية:</span>
                    <span class="answer" >{{employee_profile.get_marital_status_display}}</span>
                    
                </p >


                <p >
                    <span class="questtion">الحالة الصحية:</span>

                    <span class="answer" >{{employee_profile.health_status.name}}</span>
                </p >



            </div>
        </div>
        

        
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0" style="max-width:700px;">
            {% if request.user.is_authenticated %}
            {% if request.user.userprofile.is_has_subscription %}
                                {% if userprofile.show_email%}
                                <div class="input-group mb-3">
                                    <a href="mailto:{{userprofile.user.email}}" class="input-group-text" id="basic-addon1"><i class="bi bi-envelope-fill"></i></a>
                                    <input value="{{userprofile.user.email}}" disabled type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                                  </div>
                                  {% endif %}
                          
                                  {% if userprofile.subscription.subscription.show_phone %}
                                  {% if userprofile.show_phone and userprofile.employeeprofile.phone %}
                                  <div class="input-group mb-3">
                                    <a class="input-group-text" href="tel:{{userprofile.employeeprofile.phone}}"  id="basic-addon1"><i class="bi bi-telephone-fill"></i></a>
                                    <input value="{{userprofile.employeeprofile.phone}}" disabled name="phone" type="text" class="form-control" placeholder="الهاتف" aria-label="Username"
                                      aria-describedby="basic-addon1">
                                  </div>
                                    {% endif %}
                                    {% endif %}

                    
                                    {% comment %} {% if userprofile.subscription.subscription.show_instgram %}
                                    {% if userprofile.show_instgram and userprofile.employeeprofile.instgram %}
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="basic-addon1"><i class="bi bi-instagram"></i></span>
                                        <input value="{{userprofile.employeeprofile.instgram}}" disabled type="text" name="instgram" class="form-control" placeholder="انستغرام" aria-label="Username"
                                          aria-describedby="basic-addon1">
                                      </div>
                                    {% endif %}
                                    {% endif %}

                                    {% if userprofile.subscription.subscription.show_snap %}
                                    {% if userprofile.show_snapshat and userprofile.employeeprofile.snapshat %}
                                      <div class="input-group mb-3">
                                        <span class="input-group-text" id="basic-addon1"><i class="bi bi-snapchat"></i></span>
                                        <input value="{{userprofile.employeeprofile.snapshat}}" disabled type="text" name="snapshat" class="form-control" placeholder="سناب شات" aria-label="Username"
                                          aria-describedby="basic-addon1">
                                      </div>
                                    {% endif %}
                                    {% endif %}
                                    {% if userprofile.subscription.subscription.show_tiktok %}
                                    {% if userprofile.show_tiktok and userprofile.employeeprofile.tiktok %}
                                      <div class="input-group mb-3">
                                        <span class="input-group-text" id="basic-addon1"><i class="bi bi-tiktok"></i></span>
                                        <input value="{{userprofile.employeeprofile.tiktok}}" disabled type="text" name="tiktok" class="form-control" placeholder="تيك توك" aria-label="Username"
                                          aria-describedby="basic-addon1">
                                      </div>
                                {% endif %}
                                {% endif %} {% endcomment %}
                                    <div style="border-radius: 15px; border: 1px solid rgb(229, 229, 229);">
                                        <p style="margin: 0;text-align: center;background-color: #f1f1f1; padding: 20px">وسائل التواصل الاجتماعي</p>
                                        <div class="contact-info-soshial">
                                            {% if userprofile.subscription.subscription.show_instgram %}
                                            {% if userprofile.show_instgram and userprofile.employeeprofile.instgram%}
                                            <a href="{{userprofile.employeeprofile.instgram}}" target="_blank"><i class="bi bi-instagram"></i></a>
                                            {% endif %}
                                            {% endif %}

                                            {% if userprofile.subscription.subscription.show_snap %}
                                            {% if userprofile.show_snapshat and userprofile.employeeprofile.snapshat%}
                                            <a href="{{userprofile.employeeprofile.snapshat}}" target="_blank"><i class="bi bi-snapchat"></i></a>
                                            {% endif %}
                                            {% endif %}

                                            {% if userprofile.subscription.subscription.show_tiktok %}
                                            {% if userprofile.show_tiktok and userprofile.employeeprofile.tiktok%}
                                            <a href="{{userprofile.employeeprofile.tiktok}}" target="_blank"><i class="bi bi-tiktok"></i></a>
                                            {% endif %}
                                            {% endif %}

                                            {% if userprofile.subscription.subscription.show_facebook %}
                                            {% if userprofile.show_facebook and userprofile.employeeprofile.facebook%}
                                            <a href="{{userprofile.employeeprofile.facebook}}" target="_blank"><i class="bi bi-facebook"></i></a>
                                            {% endif %}
                                            {% endif %}

                                            {% if userprofile.subscription.subscription.show_linkedin %}
                                            {% if userprofile.show_linkedin and userprofile.employeeprofile.linkedin %}
                                            <a href="{{userprofile.employeeprofile.linkedin}}" target="_blank"><i class="bi bi-linkedin"></i></a>
                                            {% endif %}
                                            {% endif %}

                                            {% if userprofile.subscription.subscription.show_whats %}
                                            {% if userprofile.show_whatsapp and userprofile.employeeprofile.whatsapp %}
                                            <a href="{{userprofile.employeeprofile.whatsapp}}" target="_blank"><i class="bi bi-whatsapp"></i></a>
                                            {% endif %}
                                            {% endif %}

                                            {% else %}
                                            <p>يرجى الاشتراك باحد الباقات لمشاهدة معلومات التواصل <a href="{% url 'Subscriptions' %}">اضغط هنا لاظهار الباقات</a></p>
                                            {% endif %}
                                            {% else %}
                                            <p>يرجى انشاء حساب لتتمكن من رؤية معلومات التواصل للتسجيل <a href="{% url 'Login' %}?is_signup=true">اضغط هنا</a> او التسجيل الدخول <a href="{% url 'Login' %}">من هنا</a></p>
                                            {% endif %}
                                        </div>
                                    </div>
        </div>


        <div class="tab-pane fade" id="nav-disabled" role="tabpanel" aria-labelledby="nav-disabled-tab" tabindex="0">

            <div style="background-color: #f1f1f1;" class="menu-box">
                {% if request.user.id == userprofile.user.id %}
                {% if userprofile.is_has_subscription %}
                <button class="btn btn-primary details-card" id="button-addon1"><strong>ايام الباقية للاشتراك</strong>
                    <div class="ico-with-value"><strong><i class="fa-solid fa-dollar-sign"></i>
                            {{userprofile.reminding_subscription_days}}</strong>
                        <i class="bi bi-arrows fa-2x"></i>
                    </div>
                </button>
                {% endif %}
                {% endif %}
                {% if userprofile.subscription.subscription.show_number_of_likes %}
                <button class="btn btn-primary details-card" id="button-addon1"><strong>عدد المعجبين</strong>
                    <div class="ico-with-value"><strong><i class="fa-solid fa-dollar-sign"></i>
                        {% get_user_likes userprofile.user.id as likes_count %}
                        {{likes_count}}
                            </strong>
                        <i class="bi bi-hand-thumbs-up fa-2x"></i>
                    </div>
                </button>
                {% endif %}
                {% if userprofile.subscription.subscription.show_number_of_appearances %}
                <button class="btn btn-primary details-card" id="button-addon1"><strong>عدد المشاهدات</strong>
                    <div class="ico-with-value"><strong><i class="fa-solid fa-dollar-sign"></i>
                        {% get_user_views userprofile.user.id as views_count %}
                        {{views_count}}
                            </strong>
                        <i class="bi bi-eye fa-2x"></i>
                    </div>
                </button>
                {% endif %}

                <button class="btn btn-primary details-card" id="button-addon1"><strong>الوظائف المقدمة</strong>
                    <div class="ico-with-value"><strong><i class="fa-solid fa-dollar-sign"></i>
                            {{applier.count}}</strong>
                        <i class="bi bi-briefcase fa-2x"></i>
                    </div>
                </button>

            </div>

        </div>
    </div>
    

<style>


        .fa-2x {
        font-size:30px;
    }

    .ico-with-value {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 20px 5px
    }
    .details-card {
        color: white;
        padding-top: 20px;
        display: block;
        margin: auto;
        width: -webkit-fill-available;
        margin-top: 13px;
        min-height: 100px;
    }


    .menu-box {
        /* max-width: 300px; */
        width: 100%;
        display: inline-block;
        margin: 10px;
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .menu-box button {
        max-width: 300px;
        margin: 10px;
    }

    @media (max-width: 767px) {
        .menu-box {
            grid-template-columns: auto auto;
        }
    }

    @media (max-width: 420px) {
        .menu-box {
            grid-template-columns: auto;
        }
    }
</style>

      
</div>
<script>
    function UserLike() {
        fetch('{{UserLikeURL}}')
        .then((response) => {

            return response.json();
        })
        .then((myJson) => {
            let blockObj = document.querySelector('#like')
                
            if (myJson.status === true) {
                blockObj.classList.remove('btn-outline-primary')
                blockObj.classList.add('btn-primary')
            } else if (myJson.status === false) {
                
                blockObj.classList.remove('btn-primary')
                blockObj.classList.add('btn-outline-primary')
            }
    
        });
    }
    function AddDeleteFavorite() {
        fetch('{{UserFavURL}}')
        .then((response) => {

            return response.json();
        })
        .then((myJson) => {
            let blockObj = document.querySelector('#fav')
                
            if (myJson.status === true) {
                blockObj.classList.remove('btn-outline-warning')
                blockObj.classList.add('btn-warning')
            } else if (myJson.status === false) {
                
                blockObj.classList.remove('btn-warning')
                blockObj.classList.add('btn-outline-warning')
            }
    
        });
    }
    // $(document).ready(function() {
    //     document.querySelector('#nav-disabled-tab').click()

    //     })
    
    </script>
    
<style>
    #nav-home .contents-box p {
        grid-template-columns:auto;

    }
    #nav-home .contents-box .answer {
        text-align: right;
        width: auto;
    }

    .input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3),
    .input-group:not(.has-validation)>.form-floating:not(:last-child)>.form-control,
    .input-group:not(.has-validation)>.form-floating:not(:last-child)>.form-select,
    .input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  
    .input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  

    .bg-f1 {
        background-color: #f1f1f1;
    }
    .main-info {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row-reverse;
    }
    .main-info-item {
        display: flex;
        color: #555;
        font-size: 14px;
        
    }

    .main-info-item i {
        margin-left: 5px;
    }
    .main-info-item p {
        margin-left: 15px;
        text-align: justify;
    }


    .contents-box p{
        background-color: #ffffff82;
        border: 1px solid #ffffff; padding: 10px; border-radius: 10px; margin: 0; margin-bottom: 10px; margin-left: 10px;
    }

    .contents-box .questtion{
        display: block;
        text-align: center;
        font-weight: 100;
        width: 133px;
    }
    .contents-box .answer {
        display: block;
        text-align: center;
        font-weight: 100;

    }
    .contents-box .answer{
        color: rgb(105, 105, 252);
        font-weight: bold;
    }

    .contents-box {
        display: flex; flex-wrap: wrap;
        padding: 10px;
        padding-bottom: 0;
        padding-left: 0;
    }



    .contact-info a {
        margin-left: 5px;
        margin-top: 5px;
        display: flex;
    }

    .contact-info {
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-start;
    padding: 20px;

}

.contact-info i {
        background-color: #f1f1f1;
        color: rgb(48, 48, 48);
        padding: 15px;
        margin-left: 5px;
        margin-top: 5px;
        font-size: 22px;
        border-radius: 10px;
        box-shadow: inset rgb(100, 100, 100) 0px 0px 6px ;

}

.contact-info i:hover {

        transition: all .13s linear;
        box-shadow: rgb(100, 100, 100) 0px 0px 6px ;
        color: rgb(87, 87, 255);

}


.profile-nav-main {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    flex-wrap: wrap;
}
@media only screen and (max-width: 768px) {
    .contents-box {
        justify-content: center;
        flex-direction: column;
        }

        .profile-nav {
            width:100%
        }
        .profile-nav-tabs {
            flex-direction: column;
            box-shadow: inset #cecece 0px 0px 6px;
            background-color: #ffffff82;
            padding: 5px;
            border-radius: 10px;
        }


    }

</style>


{%endblock%}