{% extends 'panel_base.html' %}
{% load static %}
{% load jobs_tags %}


{% block links %}
<link rel="stylesheet" href="{% static 'css\employee\employeePortal.css' %}">
{% endblock %}

{% block sheri %}

<div class="container" style="max-width: 600px;">

    <form method='post'>
        {% csrf_token %}
        <div class="row g-3 mt-4">

            {{form}}

        </div>
        <button type="submit" class="btn btn-primary mt-3 mb-5">تعديل وحفظ</button>
      </form>
</div>


<style>
    .form-switch {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
    .form-switch label {
        margin-right: 7px;
    }
    </style>
    
    <script>
        let Forminputs = document.querySelectorAll('input[type="text"], input[type="datetime-local"], input[type="number"], select, textarea')
        Forminputs.forEach(element => {
            element.classList.add('form-control')
        }); 
    
        let Formchecks = document.querySelectorAll('input[type="checkbox"]')
        Formchecks.forEach(element => {
            let label = document.querySelector(`label[for="${element.id}"]`)
    
            element.classList.add('form-check-input')
            element.insertAdjacentHTML("beforebegin", `<div class="mb-3 col-sm-6"><div class="form-check form-switch">${label.outerHTML.replace(':','')}${element.outerHTML}</div></div>`)
            element.remove()
            label.remove()
        }); 
    </script>
{% endblock %}