{% load messenger_tags %}

{% if user.is_authenticated %}
{% if 'messageRoom' not in request.path %}

{% get_count_of_not_readed_msg request.user.id as count_of_not_readed_msg %}
<nav class="navbar navbar-expand-lg fixed-bottom glass-eff" style="padding: 2px;" id="navbar" data-bs-theme="dark" dir="rtl">
    <div class="container-fluid">
      

      <div class=" navbar-collapse" id="navbarSupportedContent2">
        <ul class="navbar-nav me-auto mb-lg-0" style="margin: auto; width: min(100%, 768px); justify-content: space-around; flex-direction: row;">
          <li class="nav-item">
                <a href="{% url 'index' %}" class="btn" role="button"><i class="bi bi-house-door-fill"></i></a>
          </li>

          {% if request.user.userprofile.is_company %}
          <li class="nav-item">
                <a href="{% url 'companyJobs' %}" class="btn" role="button"><i class="bi bi-boxes"></i></a>
          </li>
          {% else %}
          <li class="nav-item">
                <a href="{% url 'JobIndex' %}" class="btn" role="button"><i class="bi bi-briefcase-fill"></i></a>
          </li>          
          {% endif %}

          <li class="nav-item">
                <a style="position: relative;" id="example" tabindex="0" class="btn" role="button" data-bs-toggle="popover" title="الرسائل" >
                  <span id="msg-main-badge" class="position-absolute top-0 start-0 translate-middle badge rounded-pill bg-danger">{{count_of_not_readed_msg}}</span>
                  <i class="bi bi-chat-dots-fill"></i>
                </a>
          </li>
          <li class="nav-item">
                <a id="noti" tabindex="0" class="btn" role="button" data-bs-toggle="popover" title="الاشعارات" ><i class="bi bi-bell-fill"></i></a>
          </li>

          <li class="nav-item">
                <a href="{% url 'Profile' user.id %}" class="btn" role="button"><i class="bi bi-person-fill"></i></a>
          </li>
        </ul>


      </div>
    </div>
  </nav>

<div data-name="popover-content" id="popover-content" class="d-none" style="width: min(100%, 400px);">
  {% include 'messenger/viewMessages.html' %}
</div>

<div data-name="popover-content-noti" id="popover-content-noti" class="d-none" style="width: min(100%, 400px);">
  {% include 'notifications/viewNotifications.html' %}
</div>















  <script type='text/javascript'>
    
            
    $(document).ready(function() {
        
      var options = {
            sanitize: false,
            html: true,
            title: "الرسائل",
            customClass: 'MessagesPopover',
            //html element
            //content: $("#popover-content")
            content: $('[data-name="popover-content"]').html(),
            //Doing below won't work. Shows title only
            //content: $("#popover-content").html()
            fallbackPlacements : ['top']
        }


        var optionsNoti = {
            sanitize: false,
            html: true,
            title: "الاشعارات",
            customClass: 'MessagesPopover',
            //html element
            //content: $("#popover-content")
            content: $('[data-name="popover-content-noti"]').html(),
            //Doing below won't work. Shows title only
            //content: $("#popover-content").html()
            fallbackPlacements : ['top']
        }



        var exampleEl = document.getElementById('example')
        var popover = new bootstrap.Popover(exampleEl, options)

        var exampleElnoti = document.getElementById('noti')
        var popover = new bootstrap.Popover(exampleElnoti, optionsNoti)


    })

    // $(function () {
    //         $('[data-bs-toggle="popover"]').popover()
    //     })
</script>





<style>
  .navbar {
    border: unset;
  }

  #navbarSupportedContent2 i {
    font-size: 22px;
    text-shadow: #6097b4ce;
    text-shadow: #00000094 1px 2px 5px;
  }

  .glass-eff {
    /* From https://css.glass */
  background: #6097b4ce;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.126);
  transition: all .2s linear;
  }


  .MessagesPopover {
  --bs-popover-max-width: min(100%, 400px);
  
  /* --bs-popover-border-color: var(--bd-violet-bg);
  --bs-popover-header-bg: var(--bd-violet-bg);
  --bs-popover-header-color: var(--bs-white);
  --bs-popover-body-padding-x: 1rem;
  --bs-popover-body-padding-y: .5rem; */
}

.popover-body {padding-left:0px;}
.popover-header {text-align: right;}

</style>
{% endif %}
{% endif %}