
{% if 'messageRoom' not in request.path %}
<nav class="navbar navbar-expand-lg fixed-top bg-primary" id="navbar" data-bs-theme="dark" dir="rtl">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}" style="font-weight: bold;">CVV</a>
      
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="margin: auto;">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'index' %}">الرئيسية</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">البحث المتقدم</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">تواصل معنا</a>
          </li>
        </ul>
        <ul class="navbar-nav">

          {% if not user.is_authenticated %}
          <button data-bs-toggle="modal" data-bs-target="#SignupModal" class="btn btn-light">تسجيل</button>
          <span style="padding: 0 5px; color: white;">او</span>
          <a href="{% url 'Login' %}" class="btn btn-outline-light">دخول</a>
          {%else%}


          <!-- <a id="example" tabindex="0" class="btn btn-light"  role="button" data-bs-toggle="popover" title="الرسائل" ><i class="bi bi-chat-dots-fill"></i></a>



          <a href="" class="btn btn-light">حسابي</a>
          <span style="padding: 0 5px; color: white;">او</span> -->
          <a href="{% url 'Logout' %}" class="btn btn-outline-light">تسجيل الخروج</a>

          {% endif %}

        </ul>
      </div>
    </div>
  </nav>


<!-- Modal -->
<div class="modal fade" id="SignupModal" tabindex="-1" aria-labelledby="SignupModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header" style="flex-direction: row-reverse;">
        <h1 class="modal-title fs-5" id="SignupModalLabel">عملية التسجيل في المنصة</h1>
        <button type="button" style="margin: 0;margin-right: auto;" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="text-align: center; padding: 30px 0px;">
        <a href="{% url 'companySignup' %}" class="btn btn-outline-primary">حساب صاحب عمل</a>

        <a href="{% url 'cvSignup' %}" class="btn btn-primary">حساب الباحث عن عمل</a>
      </div>

    </div>
  </div>
</div>

  <!-- <script>

window.onscroll = function() {scrollFunction()};
const navbar = document.getElementById("navbar")
function scrollFunction() {
  if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
    navbar.setAttribute('data-bs-theme', '')
    navbar.classList.add('glass-eff')
  } else {
    navbar.setAttribute('data-bs-theme', 'dark')
    navbar.classList.remove('glass-eff')
  }
}
  </script> -->

<style>
  .navbar {
    border: unset;
  }
  .glass-eff {
    /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.126);
  transition: all .2s linear;
  }


  .MessagesPopover {
  --bs-popover-max-width: min(100%, 400px);
  
  /* --bs-popover-border-color: var(--bd-violet-bg);
  --bs-popover-header-bg: var(--bd-violet-bg);
  --bs-popover-header-color: var(--bs-white);
  --bs-popover-body-padding-x: 1rem;
  --bs-popover-body-padding-y: .5rem; */
}

.popover-header {text-align: right;}

</style>
{% endif %}