{% load panel_tags %}
{% if 'messageRoom' not in request.path %}
<style>
    .nav-icon {
        font-size: 20px;
    }
    .nav-strings {
        font-size: 20px;
        
    }
    
    .offcanvas-body ul li i {
      margin-left: 10px;
      color: #e6e6e6;
    }
    .offcanvas {
      min-height: 100vh;
    }
</style>

<div class="offcanvas offcanvas-start bg-dark show" style="width: 400px; position: relative !important; display: block; transition: all .2s linear;" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
  <!-- <div class="offcanvas-header">

    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div> -->

  <div class="offcanvas-body" style="padding: 0 !important; margin: 15px; ">
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="min-width:270px;">
        <a href="{% url 'index' %}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">

          <span class="fs-4">القائمة</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a href="{% url 'PanelHome' %}" class="nav-link text-white nav-strings" aria-current="page">
              <i class="bi bi-house-door-fill"></i>
              لمحة سريعة
            </a>
          </li>
          {% temp_get_permission_state request.user.id 'employees' 'show' as del_per%}{% if del_per %}
          <li>
            <a href="{% url 'PanelShowEmployees' %}" class="nav-link text-white nav-strings">
              <i class="bi bi-person-fill"></i>
              إدارة الأفراد
            </a>
          </li>
          {% endif %}

          {% temp_get_permission_state request.user.id 'companys' 'show' as del_per%}{% if del_per %}
          <li>
            <a href="{% url 'Companys' %}" class="nav-link text-white nav-strings">
              <i class="bi bi-building-fill"></i>
              إدارة المنظمات
            </a>
          </li>
          {% endif %}

          {% temp_get_permission_state request.user.id 'jobs' 'show' as del_per%}{% if del_per %}
          <li>
            <a href="{% url 'ViewJobsPanel' %}" class="nav-link text-white nav-strings">
              <i class="bi bi-shuffle"></i>
              إدارة الوظائف
            </a>
          </li>
          {% endif %}

          {% temp_get_permission_state request.user.id 'subscription' 'show' as del_per%}{% if del_per %}
          <li>
            <a href="{% url 'PanelViewSubscriptions' %}" class="nav-link text-white nav-strings">
              <i class="bi bi-tag-fill"></i>
              إدارة الاشتراكات
            </a>
          </li>
          {% endif %}

          {% temp_get_permission_state request.user.id 'custum_subscription' 'show' as del_per%}{% if del_per %}
          <li>
            <a href="{% url 'ManageSubscriptionPriceByCountry' %}" class="nav-link text-white nav-strings">
              <i class="bi  bi-sliders"></i>
              تخصيص الاشتراكات
            </a>
          </li>
          {% endif %}

          {% temp_get_permission_state request.user.id 'ads' 'show' as del_per%}{% if del_per %}
          <li>
            <a href="{% url 'ManageAdminADS' %}" class="nav-link text-white nav-strings">
              <i class="bi bi-badge-ad-fill"></i>
              اعلانات او بنرات
            </a>
          </li>
          {% endif %}

          {% temp_get_permission_state request.user.id 'countrys' 'show' as del_per%}{% if del_per %}
          <li>
            <a href="{% url 'ManageCountrys' %}" class="nav-link text-white nav-strings">
              <i class="bi bi-globe-americas"></i>
              ادارة الدول
            </a>
          </li>
          {% endif %}

          {% temp_get_permission_state request.user.id 'nationality' 'show' as del_per%}{% if del_per %}
          <li>
            <a href="{% url 'ManageNationality' %}" class="nav-link text-white nav-strings">
              <i class="bi bi-globe"></i>
              ادارة الجنسيات
            </a>
          </li>
          <li>
            <a href="{% url 'ManageHealthStatus' %}" class="nav-link text-white nav-strings">
              <i class="bi bi-globe"></i>
              ادارة الحالة الصحية
            </a>
          </li>
          <li>
            <a href="{% url 'dashboardWithdraw' %}" class="nav-link text-white nav-strings">
              <i class="bi bi-globe"></i>
              طلبات سحب الرصيد
            </a>
          </li>
          {% endif %}

          {% comment %} <li>
            <a href="{% url 'index' %}" class="nav-link text-white nav-strings">
              <i class="bi bi-suitcase-lg-fill"></i>
                طلبات التوظيف
            </a>
          </li>
          <li>
            <a href="{% url 'index' %}" class="nav-link text-white nav-strings">
              <i class="bi bi-building-fill"></i>
              اعلانات الوظائف
            </a>
          </li>


          <li>
            <a href="{% url 'index' %}" class="nav-link text-white nav-strings">
              <i class="bi bi-pie-chart-fill"></i>
                الإحصائيات والتقارير
            </a>
          </li> {% endcomment %}


          <!-- <li>
            <a href="{% url 'index' %}" class="nav-link text-white nav-strings">
              <i class="bi bi-diagram-2-fill"></i>
                الموقع الإلكتروني
            </a>
          </li> -->
          

          {% temp_get_permission_state request.user.id 'edit_settings' 'show' as del_per%}{% if del_per %}
          <li>
            <a onclick="ShowSettingDrop()" style="cursor: pointer;" class="nav-link text-white nav-strings">
              <i class="bi bi-gear-fill"></i>
                الإعدادات
            </a>
          </li>

          {% endif %}
          <div>
            <ul class="dropdown-menu settings-drop settings-drop-hide" id="settings-dropdown" style="display: block; position: relative; overflow: hidden;">
              <div>
                <!-- <li><a class="dropdown-item" href="#">الإتصالات</a></li> -->
                {% comment %} <li><a class="dropdown-item " href="{% url 'index' %}" aria-current="true">تعديل التذييل</a></li> {% endcomment %}
                {% comment %} <li><a class="dropdown-item " style="cursor: pointer;" onclick="{document.getElementById('ChangeHeaderImage').click()}" aria-current="true">تعديل الصورة</a></li> {% endcomment %}
                <li><a class="dropdown-item" href="{% url 'ShowAllContactUsHistory' %}">نماذج التواصل</a></li>
                <li><a class="dropdown-item" href="{% url 'EditVerificationMsg' %}">تعديل رسائل التحقق</a></li>
                <li><a class="dropdown-item" href="{% url 'EditTermsPolicy' %}">تعديل إتفاقيات والشروط</a></li>
              </div>
            </ul>
          </div>


          <style>
            .settings-drop {
              transition: all .3s;
              background-color: unset;
              border: unset !important;
              
            }

            .settings-drop a{
              color: white;
              
            }  
            .settings-drop a:hover {
              background-color: var(--bs-dropdown-link-active-bg);
              color: #333;
              background-color: white;
            }

            .settings-drop-show {
              height: 90px;
              padding: 7px 0px;
              width: 100%;
              border: var(--bs-dropdown-border-width) solid var(--bs-dropdown-border-color);
            }

            .conn-drop-show {
              height: 150px;
              padding: 7px 0px;
              width: 100%;
              border: var(--bs-dropdown-border-width) solid var(--bs-dropdown-border-color);
            }

            .admin-drop-show {
              height: 35px;
              padding: 7px 0px;
              width: 100%;
              border: var(--bs-dropdown-border-width) solid var(--bs-dropdown-border-color);
            }


            
            .settings-drop-hide {
              height: 0;
              padding: 0;
              width: 0;
              border: 0;
            }

          </style>

{% comment %} 
          <li>
            <a onclick="ShowConnDrop()" style="cursor: pointer;" class="nav-link text-white nav-strings">
              <i class="bi-envelope-fill"></i>
              الإتصالات
            </a>
          </li>



          <div>
            <ul class="dropdown-menu settings-drop settings-drop-hide" id="conn-dropdown" style="display: block; position: relative; overflow: hidden;">
              <div>
                <li><a class="dropdown-item" href="{% url 'index' %}">رسالة بث</a></li>
                <li><a class="dropdown-item " href="{% url 'index' %}" aria-current="true">مركز الرسائل</a></li>

                <li><a class="dropdown-item " href="{% url 'index' %}" aria-current="true">سجل الأفراد</a></li>
                <li><a class="dropdown-item " href="{% url 'index' %}" aria-current="true">سجل المنظمات</a></li>
                <li><a class="dropdown-item" href="{% url 'index' %}">سجل مركز الرسائل </a></li>
              </div>
            </ul>
          </div>
 {% endcomment %}



          
{% comment %} 
          <form hidden id="ChangeHeaderImageForm" action="{% url 'index' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <input id="ChangeHeaderImage" onchange="{document.getElementById('ChangeHeaderImageForm').submit()}" type="file" name="img" accept=".jpg">
          </form> {% endcomment %}
          {% if user.is_superuser %}
          <li>
            <a onclick="ShowAdminDrop()" style="cursor: pointer;" class="nav-link text-white nav-strings">
              <i class="bi bi-tools"></i>
                أدوات المشرف
            </a>
          </li>

          <div>
            <ul class="dropdown-menu settings-drop settings-drop-hide" id="admin-dropdown" style="display: block; position: relative; overflow: hidden;">
              <div>
                <li><a class="dropdown-item" href="{% url 'ManageAdminPermission' %}">حسابات المسؤول</a></li>
                {% comment %} <li><a class="dropdown-item" href="{% url 'index' %}">نسخة احتياطية</a></li> {% endcomment %}
              </div>
            </ul>
          </div>
          {%endif%}
          <li>
            <a href="{% url 'index' %}" class="nav-link text-white nav-strings">
              <i class="bi bi-door-open-fill"></i>
              خروج
            </a>
          </li>

        </ul>
        <hr>
        <!-- <div class="dropdown">
          <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>mdo</strong>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div> -->
      </div>
  </div>
</div>

<script>
  function ShowAdminDrop(){
    const settings_dropdown = document.getElementById('admin-dropdown')
    if (settings_dropdown.classList.contains('settings-drop-hide')) {
      settings_dropdown.classList.remove('settings-drop-hide')
      settings_dropdown.classList.add('admin-drop-show')
    } else {
      settings_dropdown.classList.add('settings-drop-hide')
      settings_dropdown.classList.remove('admin-drop-show')
    }
    console.log(settings_dropdown.classList)

  }


  function ShowSettingDrop(){
    const settings_dropdown = document.getElementById('settings-dropdown')
    if (settings_dropdown.classList.contains('settings-drop-hide')) {
      settings_dropdown.classList.remove('settings-drop-hide')
      settings_dropdown.classList.add('settings-drop-show')
    } else {
      settings_dropdown.classList.add('settings-drop-hide')
      settings_dropdown.classList.remove('settings-drop-show')
    }
    console.log(settings_dropdown.classList)

  }

  function ShowConnDrop(){
    const settings_dropdown = document.getElementById('conn-dropdown')
    if (settings_dropdown.classList.contains('settings-drop-hide')) {
      settings_dropdown.classList.remove('settings-drop-hide')
      settings_dropdown.classList.add('conn-drop-show')
    } else {
      settings_dropdown.classList.add('settings-drop-hide')
      settings_dropdown.classList.remove('conn-drop-show')
    }
    console.log(settings_dropdown.classList)

  }


  
</script>


<script>
            document.querySelectorAll(".nav-link").forEach((link) => {
            if (link.href === window.location.href) {
                link.classList.add("active");
                // link.setAttribute("aria-current", "page");
            }
        });
</script>
{% endif %}